<div id="newsfeed-items-grid">

  <!-- NEW POST -->
  <app-new-post></app-new-post>
  <!-- / NEW POST -->

  <!-- LIST OF POSTS -->
  <div class="ui-block" *ngFor="let post of posts">
    <app-post-box [post]="post"></app-post-box>
  </div>
  <!-- / LIST OF POSTS -->

</div>

<div id="load-more-button" class="btn btn-control btn-more cursor-pointer" (click)="loadMore()">
  <svg class="olymp-three-dots-icon">
    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
  </svg>
</div>
