<!-- Main Content Birthday -->

<div class="container" style="padding: 0;">
  <div class="row" style="direction: rtl;">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">منطقة القاهرة</h6>
        </div>
      </div>
    </div>
    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">

        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar7-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">ساره جميل </a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              فرع القاهرة
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar20-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">سامر دهب</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              فرع القاهرة
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>


        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">منطقة الاسكندرية</h6>
        </div>
      </div>
    </div>
    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar21-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">سحر حامد</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              الاسكندرية, فرع 1
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar4-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">جميل ساهر</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              الاسكندرية, فرع 1
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->


      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">



        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar22-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">شادي رضا</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              الاسكندرية, فرع 2
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->


      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar23-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">سوسن رجى</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              الاسكندرية, فرع 2
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->
      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar1-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">داليا بوصي</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              الاسكندرية, فرع 2
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar2-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">بسام ضيقى</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              الاسكندرية, فرع 3
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">منطقة اسيوط</h6>
        </div>
      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar10-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">ابتسام بوصي</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              اسيوط, فرع 1
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar67-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">ديانا ضيا</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              اسيوط, فرع 1
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar24-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">فادي جميل</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              اسيوط, فرع 2
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar26-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">فادية جابر</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              اسيوط, فرع 2
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar27-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">ساره صابر</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              اسيوط, فرع 3
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar28-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">سوزان منصور</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              اسيوط, فرع 3
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <!-- APRIL -->

    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">منطقة دمياط</h6>
        </div>
      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar6-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">كمال عجرم</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              دمياط, فرع 1
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar30-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">نانسي وهبي</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              دمياط, فرع 1
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar31-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">نسرين كمال</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              دمياط, فرع 2
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">منطقة المنصورة</h6>
        </div>
      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar32-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">جمانة مصباح</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              المنصورة, فرع 1
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar33-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">رهف شامل</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              المنصورة, فرع 1
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>


    <!-- SEPT -->
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">منطقة شرم الشيخ</h6>
        </div>
      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar34-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">سمير سبيل</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              شرم الشيخ, فرع 1
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar3-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">فلورين حسن</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              شرم الشيخ, فرع 2
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar35-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">عماد مكي</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              شرم الشيخ, فرع 3
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">منطقة المعمورة</h6>
        </div>
      </div>
    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="ui-block">


        <!-- Birthday Item -->

        <div class="birthday-item inline-items">
          <div class="author-thumb">
            <img src="assets/web/img/avatar8-sm.jpg" alt="author">
          </div>
          <div class="birthday-author-name">
            <a href="javascript:void(0)" class="h6 author-name">سمر زرقط</a>
            <div class="birthday-date">
              <i class="fa fa-map-marker-alt"></i>
              المعمورة, فرع 1
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-sm bg-blue ok">التصويت النهائي</a>
        </div>

        <!-- ... end Birthday Item -->

      </div>
    </div>

  </div>
</div>

<!-- ... end Main Content Birthday -->



<swal
  #swal
  title="تم اختيار الموظف الرابح بنجاح"
  text=""
  icon="success"
  [focusCancel]="true"
  (confirm)="onDone($event)">
</swal>
