<div class="row">
  <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="ui-block">

      <!-- Friend Item -->

      <div class="friend-item">
        <div class="friend-header-thumb">
          <img src="assets/web/img/friend1.jpg" alt="friend">
        </div>

        <div class="friend-item-content">

          <div class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg>
            <ul class="more-dropdown">
              <li>
                <a href="javascript:void(0)">Report Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Block Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Turn Off Notifications</a>
              </li>
            </ul>
          </div>
          <div class="friend-avatar">
            <div class="author-thumb">
              <img src="assets/web/img/avatar20.jpg" alt="author">
            </div>
            <div class="author-content">
              <a href="javascript:void(0)" class="h5 author-name">ساره طويل</a>
              <div class="country">القاهرة</div>
            </div>
          </div>

          <div class="swiper-container" data-slide="fade">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="friend-count" data-swiper-parallax="-500">
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">52</div>
                    <div class="title">المشاركات</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">240</div>
                    <div class="title">النقاط</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">16</div>
                    <div class="title">ابداعات</div>
                  </a>
                </div>
                <div class="control-block-button" data-swiper-parallax="-100">
                  <a href="javascript:void(0)" class="btn btn-control bg-blue">
                    <svg class="olymp-happy-face-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                    </svg>
                  </a>

                  <a href="javascript:void(0)" id="s1" class="btn btn-control bg-purple">
                    <svg class="olymp-chat---messages-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
                    </svg>
                  </a>

                </div>
              </div>

              <div class="swiper-slide">
                <p class="friend-about" data-swiper-parallax="-500">
                  Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
                </p>

                <div class="friend-since" data-swiper-parallax="-100">
                  <span>تاريخ الانضمام:</span>
                  <div class="h6">ديسمبر 2014</div>
                </div>
              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      <!-- ... end Friend Item -->
    </div>
  </div>
  <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="ui-block">

      <!-- Friend Item -->

      <div class="friend-item">
        <div class="friend-header-thumb">
          <img src="assets/web/img/friend2.jpg" alt="friend">
        </div>

        <div class="friend-item-content">

          <div class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg>
            <ul class="more-dropdown">
              <li>
                <a href="javascript:void(0)">Report Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Block Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Turn Off Notifications</a>
              </li>
            </ul>
          </div>
          <div class="friend-avatar">
            <div class="author-thumb">
              <img src="assets/web/img/avatar22.jpg" alt="author">
            </div>
            <div class="author-content">
              <a href="javascript:void(0)" class="h5 author-name">مارينا حامد</a>
              <div class="country">القاهرة</div>
            </div>
          </div>

          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="friend-count" data-swiper-parallax="-500">
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">52</div>
                    <div class="title">المشاركات</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">240</div>
                    <div class="title">النقاط</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">16</div>
                    <div class="title">ابداعات</div>
                  </a>
                </div>
                <div class="control-block-button" data-swiper-parallax="-100">
                  <a href="javascript:void(0)" class="btn btn-control bg-blue">
                    <svg class="olymp-happy-face-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                    </svg>
                  </a>

                  <a href="javascript:void(0)" id="s2" class="btn btn-control bg-purple">
                    <svg class="olymp-chat---messages-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
                    </svg>
                  </a>

                </div>
              </div>

              <div class="swiper-slide">
                <p class="friend-about" data-swiper-parallax="-500">
                  Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
                </p>

                <div class="friend-since" data-swiper-parallax="-100">
                  <span>تاريخ الانضمام:</span>
                  <div class="h6">ديسمبر 2014</div>
                </div>
              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      <!-- ... end Friend Item -->
    </div>
  </div>
  <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="ui-block">

      <!-- Friend Item -->

      <div class="friend-item">
        <div class="friend-header-thumb">
          <img src="assets/web/img/friend9.jpg" alt="friend">
        </div>

        <div class="friend-item-content">

          <div class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg>
            <ul class="more-dropdown">
              <li>
                <a href="javascript:void(0)">Report Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Block Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Turn Off Notifications</a>
              </li>
            </ul>
          </div>
          <div class="friend-avatar">
            <div class="author-thumb">
              <img src="assets/web/img/avatar3.jpg" alt="author">
            </div>
            <div class="author-content">
              <a href="javascript:void(0)" class="h5 author-name">ميرنا زاهر</a>
              <div class="country">القاهرة</div>
            </div>
          </div>

          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="friend-count" data-swiper-parallax="-500">
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">49</div>
                    <div class="title">المشاركات</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">132</div>
                    <div class="title">النقاط</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">5</div>
                    <div class="title">ابداعات</div>
                  </a>
                </div>
                <div class="control-block-button" data-swiper-parallax="-100">
                  <a href="javascript:void(0)" class="btn btn-control bg-blue">
                    <svg class="olymp-happy-face-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                    </svg>
                  </a>

                  <a href="javascript:void(0)" id="s3" class="btn btn-control bg-purple">
                    <svg class="olymp-chat---messages-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
                    </svg>
                  </a>

                </div>
              </div>

              <div class="swiper-slide">
                <p class="friend-about" data-swiper-parallax="-500">
                  Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
                </p>

                <div class="friend-since" data-swiper-parallax="-100">
                  <span>تاريخ الانضمام:</span>
                  <div class="h6">ديسمبر 2014</div>
                </div>
              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      <!-- ... end Friend Item -->
    </div>
  </div>
  <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="ui-block">

      <!-- Friend Item -->

      <div class="friend-item">
        <div class="friend-header-thumb">
          <img src="assets/web/img/friend1.jpg" alt="friend">
        </div>

        <div class="friend-item-content">
          <div class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg>
            <ul class="more-dropdown">
              <li>
                <a href="javascript:void(0)">Report Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Block Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Turn Off Notifications</a>
              </li>
            </ul>
          </div>

          <div class="friend-avatar">
            <div class="author-thumb">
              <img src="assets/web/img/avatar4.jpg" alt="author">
            </div>
            <div class="author-content">
              <a href="javascript:void(0)" class="h5 author-name">رضا وصفي</a>
              <div class="country">القاهرة</div>
            </div>
          </div>

          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="friend-count" data-swiper-parallax="-500">
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">65</div>
                    <div class="title">المشاركات</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">104</div>
                    <div class="title">النقاط</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">12</div>
                    <div class="title">ابداعات</div>
                  </a>
                </div>
                <div class="control-block-button" data-swiper-parallax="-100">
                  <a href="javascript:void(0)" class="btn btn-control bg-blue">
                    <svg class="olymp-happy-face-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                    </svg>
                  </a>

                  <a href="javascript:void(0)" id="s4" class="btn btn-control bg-purple">
                    <svg class="olymp-chat---messages-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
                    </svg>
                  </a>

                </div>
              </div>

              <div class="swiper-slide">
                <p class="friend-about" data-swiper-parallax="-500">
                  Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
                </p>

                <div class="friend-since" data-swiper-parallax="-100">
                  <span>تاريخ الانضمام:</span>
                  <div class="h6">ديسمبر 2014</div>
                </div>
              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      <!-- ... end Friend Item -->
    </div>
  </div>

  <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="ui-block">

      <!-- Friend Item -->

      <div class="friend-item">
        <div class="friend-header-thumb">
          <img src="assets/web/img/friend5.jpg" alt="friend">
        </div>

        <div class="friend-item-content">

          <div class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg>
            <ul class="more-dropdown">
              <li>
                <a href="javascript:void(0)">Report Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Block Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Turn Off Notifications</a>
              </li>
            </ul>
          </div>
          <div class="friend-avatar">
            <div class="author-thumb">
              <img src="assets/web/img/avatar5.jpg" alt="author">
            </div>
            <div class="author-content">
              <a href="javascript:void(0)" class="h5 author-name">سمر طاهر</a>
              <div class="country">القاهرة</div>
            </div>
          </div>

          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="friend-count" data-swiper-parallax="-500">
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">82</div>
                    <div class="title">المشاركات</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">204</div>
                    <div class="title">النقاط</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">27</div>
                    <div class="title">ابداعات</div>
                  </a>
                </div>
                <div class="control-block-button" data-swiper-parallax="-100">
                  <a href="javascript:void(0)" class="btn btn-control bg-blue">
                    <svg class="olymp-happy-face-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                    </svg>
                  </a>

                  <a href="javascript:void(0)" id="s5" class="btn btn-control bg-purple">
                    <svg class="olymp-chat---messages-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
                    </svg>
                  </a>

                </div>
              </div>

              <div class="swiper-slide">
                <p class="friend-about" data-swiper-parallax="-500">
                  Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
                </p>

                <div class="friend-since" data-swiper-parallax="-100">
                  <span>تاريخ الانضمام:</span>
                  <div class="h6">ديسمبر 2014</div>
                </div>
              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      <!-- ... end Friend Item -->
    </div>
  </div>
  <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="ui-block">

      <!-- Friend Item -->

      <div class="friend-item">
        <div class="friend-header-thumb">
          <img src="assets/web/img/friend14.jpg" alt="friend">
        </div>

        <div class="friend-item-content">

          <div class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg>
            <ul class="more-dropdown">
              <li>
                <a href="javascript:void(0)">Report Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Block Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Turn Off Notifications</a>
              </li>
            </ul>
          </div>
          <div class="friend-avatar">
            <div class="author-thumb">
              <img src="assets/web/img/avatar21.jpg" alt="author">
            </div>
            <div class="author-content">
              <a href="javascript:void(0)" class="h5 author-name">سامر راضي</a>
              <div class="country">القاهرة</div>
            </div>
          </div>

          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="friend-count" data-swiper-parallax="-500">
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">73</div>
                    <div class="title">المشاركات</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">360</div>
                    <div class="title">النقاط</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">11</div>
                    <div class="title">ابداعات</div>
                  </a>
                </div>
                <div class="control-block-button" data-swiper-parallax="-100">
                  <a href="javascript:void(0)" class="btn btn-control bg-blue">
                    <svg class="olymp-happy-face-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                    </svg>
                  </a>

                  <a href="javascript:void(0)" id="s6" class="btn btn-control bg-purple">
                    <svg class="olymp-chat---messages-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
                    </svg>
                  </a>

                </div>
              </div>

              <div class="swiper-slide">
                <p class="friend-about" data-swiper-parallax="-500">
                  Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
                </p>

                <div class="friend-since" data-swiper-parallax="-100">
                  <span>تاريخ الانضمام:</span>
                  <div class="h6">ديسمبر 2014</div>
                </div>
              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      <!-- ... end Friend Item -->
    </div>
  </div>
  <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="ui-block">

      <!-- Friend Item -->

      <div class="friend-item">
        <div class="friend-header-thumb">
          <img src="assets/web/img/friend13.jpg" alt="friend">
        </div>

        <div class="friend-item-content">

          <div class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg>
            <ul class="more-dropdown">
              <li>
                <a href="javascript:void(0)">Report Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Block Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Turn Off Notifications</a>
              </li>
            </ul>
          </div>
          <div class="friend-avatar">
            <div class="author-thumb">
              <img src="assets/web/img/avatar20.jpg" alt="author">
            </div>
            <div class="author-content">
              <a href="javascript:void(0)" class="h5 author-name">داليا ضو</a>
              <div class="country">القاهرة</div>
            </div>
          </div>

          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="friend-count" data-swiper-parallax="-500">
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">49</div>
                    <div class="title">المشاركات</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">132</div>
                    <div class="title">النقاط</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">5</div>
                    <div class="title">ابداعات</div>
                  </a>
                </div>
                <div class="control-block-button" data-swiper-parallax="-100">
                  <a href="javascript:void(0)" class="btn btn-control bg-blue">
                    <svg class="olymp-happy-face-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                    </svg>
                  </a>

                  <a href="javascript:void(0)" id="s7" class="btn btn-control bg-purple">
                    <svg class="olymp-chat---messages-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
                    </svg>
                  </a>

                </div>
              </div>

              <div class="swiper-slide">
                <p class="friend-about" data-swiper-parallax="-500">
                  Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
                </p>

                <div class="friend-since" data-swiper-parallax="-100">
                  <span>تاريخ الانضمام:</span>
                  <div class="h6">ديسمبر 2014</div>
                </div>
              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      <!-- ... end Friend Item -->
    </div>
  </div>
  <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="ui-block">

      <!-- Friend Item -->

      <div class="friend-item">
        <div class="friend-header-thumb">
          <img src="assets/web/img/friend8.jpg" alt="friend">
        </div>

        <div class="friend-item-content">
          <div class="more">
            <svg class="olymp-three-dots-icon">
              <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg>
            <ul class="more-dropdown">
              <li>
                <a href="javascript:void(0)">Report Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Block Profile</a>
              </li>
              <li>
                <a href="javascript:void(0)">Turn Off Notifications</a>
              </li>
            </ul>
          </div>

          <div class="friend-avatar">
            <div class="author-thumb">
              <img src="assets/web/img/avatar8.jpg" alt="author">
            </div>
            <div class="author-content">
              <a href="javascript:void(0)" class="h5 author-name">سيف سعد</a>
              <div class="country">القاهرة</div>
            </div>
          </div>

          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="friend-count" data-swiper-parallax="-500">
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">58</div>
                    <div class="title">المشاركات</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">304</div>
                    <div class="title">النقاط</div>
                  </a>
                  <a href="javascript:void(0)" class="friend-count-item">
                    <div class="h6">19</div>
                    <div class="title">ابداعات</div>
                  </a>
                </div>
                <div class="control-block-button" data-swiper-parallax="-100">
                  <a href="javascript:void(0)" class="btn btn-control bg-blue">
                    <svg class="olymp-happy-face-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                    </svg>
                  </a>

                  <a href="javascript:void(0)" id="s8" class="btn btn-control bg-purple">
                    <svg class="olymp-chat---messages-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
                    </svg>
                  </a>

                </div>
              </div>

              <div class="swiper-slide">
                <p class="friend-about" data-swiper-parallax="-500">
                  Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
                </p>

                <div class="friend-since" data-swiper-parallax="-100">
                  <span>تاريخ الانضمام:</span>
                  <div class="h6">ديسمبر 2014</div>
                </div>
              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      <!-- ... end Friend Item -->
    </div>
  </div>
</div>
