.pane-close {
  padding: 10px;
}
.author-name {
  font-size: 13px;
}
.birthday-item .birthday-date {
  color: #646464;
}
.pane-label {
  font-weight: 600;
  min-width: 100px;
}
.pane-details {
  font-size: 14px;
  padding: 6px;
  color: #666;
}
// .ui-block-title{
//   line-height: unset;
// }
