<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

      <div class="rtl-fixes rtl-dir-fixes breadcrumb">
        <strong>
          الحجوزات
        </strong>
        /
        <span>
          خيارات الحجوزات
        </span>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 rtl-dir-fixes">

      <div class="row">

        <!--  LINE -->
        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">

          <div class="ui-block "  [routerLink]="['/workflows','new-workflow']">
            <div class="ui-block-content">
              <div fxLayout="column" fxLayoutAlign="center center">

                <!-- ICON -->
                <div style="padding: 25px;">
                  <i class="fa fa-bus" style="font-size: 46px;color: #ffa100;"></i>
                </div>
                <!-- ICON -->

                <div style="font-size: 20px;  color: #1f4687; font-weight: 500;">
                  حافلة
                </div>

              </div>
            </div>
          </div>

          <div class="ui-block ">
            <div class="ui-block-content">
              <div fxLayout="column" fxLayoutAlign="center center">

                <!-- ICON -->
                <div style="padding: 25px;">
                  <i class="fa fa-umbrella-beach" style="font-size: 46px;color: #ffa100;"></i>
                </div>
                <!-- ICON -->

                <div style="font-size: 20px;  color: #1f4687; font-weight: 500;">
                  اجازات
                </div>

              </div>
            </div>
          </div>

          <div class="ui-block ">
            <div class="ui-block-content">
              <div fxLayout="column" fxLayoutAlign="center center">

                <!-- ICON -->
                <div style="padding: 25px;">
                  <i class="fa fa-box-open" style="font-size: 46px;color: #ffa100;"></i>
                </div>
                <!-- ICON -->

                <div style="font-size: 20px;  color: #1f4687; font-weight: 500;">
                  ادوات منزلية
                </div>

              </div>
            </div>
          </div>

        </div>
        <!-- / LINE -->

        <!--  LINE -->
        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">

          <div class="ui-block ">
            <div class="ui-block-content">
              <div fxLayout="column" fxLayoutAlign="center center">

                <!-- ICON -->
                <div style="padding: 25px;">
                  <i class="fa fa-bezier-curve" style="font-size: 46px;color: #ffa100;"></i>
                </div>
                <!-- ICON -->

                <div style="font-size: 20px;  color: #1f4687; font-weight: 500;">
                  عضوية
                </div>

              </div>
            </div>
          </div>

          <div class="ui-block ">
            <div class="ui-block-content">
              <div fxLayout="column" fxLayoutAlign="center center">

                <!-- ICON -->
                <div style="padding: 25px;">
                  <i class="fa fa-notes-medical" style="font-size: 46px;color: #ffa100;"></i>
                </div>
                <!-- ICON -->

                <div style="font-size: 20px;  color: #1f4687; font-weight: 500;">
                  تأمين طبي
                </div>

              </div>
            </div>
          </div>

          <div class="ui-block ">
            <div class="ui-block-content">
              <div fxLayout="column" fxLayoutAlign="center center">

                <!-- ICON -->
                <div style="padding: 25px;">
                  <i class="fa fa-handshake" style="font-size: 46px;color: #ffa100;"></i>
                </div>
                <!-- ICON -->

                <div style="font-size: 20px;  color: #1f4687; font-weight: 500;">
                  اجتماعات
                </div>

              </div>
            </div>
          </div>

        </div>
        <!-- / LINE -->

          <!--  LINE -->
          <div class="col col-lg-4 col-md-6 col-sm-12 col-12">

            <div class="ui-block ">
              <div class="ui-block-content">
                <div fxLayout="column" fxLayoutAlign="center center">

                  <!-- ICON -->
                  <div style="padding: 25px;">
                    <i class="fa fa-cocktail" style="font-size: 46px;color: #ffa100;"></i>
                  </div>
                  <!-- ICON -->

                  <div style="font-size: 20px;  color: #1f4687; font-weight: 500;">
                    طعام / مشروبات
                  </div>

                </div>
              </div>
            </div>

            <div class="ui-block ">
              <div class="ui-block-content">
                <div fxLayout="column" fxLayoutAlign="center center">

                  <!-- ICON -->
                  <div style="padding: 25px;">
                    <i class="fa fa-boxes" style="font-size: 46px;color: #ffa100;"></i>
                  </div>
                  <!-- ICON -->

                  <div style="font-size: 20px;  color: #1f4687; font-weight: 500;">
                    أدوات مكاتب
                  </div>

                </div>
              </div>
            </div>

            <div class="ui-block ">
              <div class="ui-block-content">
                <div fxLayout="column" fxLayoutAlign="center center">

                  <!-- ICON -->
                  <div style="padding: 25px;">
                    <i class="fa fa-truck-loading" style="font-size: 46px;color: #ffa100;"></i>
                  </div>
                  <!-- ICON -->

                  <div style="font-size: 20px;  color: #1f4687; font-weight: 500;">
                    المخزن
                  </div>

                </div>
              </div>
            </div>

          </div>
          <!-- / LINE -->

      </div>

    </div>
  </div>
</div>
