<!-- TOP HEADER PROFILE -->
<div class="container p-0">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-0">
      <div class="ui-block">
        <div class="top-header">
          <div class="top-header-thumb">
            <img src="https://picsum.photos/id/0/1300/350" alt="nature">
          </div>
          <div class="profile-section">
            <div class="row">
              <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                <ul class="profile-menu">
                  <li>
                    <a class="btn-sm text-green" fxLayout="row" fxLayoutAlign="start center">
                      متابعة
                      <i class="fa fa-check mr-1"></i>
                    </a>
                  </li>
                  <li>
                    <a class="btn-sm text-green" fxLayout="row" fxLayoutAlign="start center">
                      اشعارات
                      <i class="fa fa-check mr-1"></i>
                    </a>
                  </li>
                  <li>
                    <a class="btn-sm">
                      الاعدادات
                    </a>
                  </li>
                  <li>
                    <a class="btn-sm">
                      دعوة اشتراك
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / TOP HEADER PROFILE -->
