<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block responsive-flex1200">
        <div class="ui-block-title">


          <a href="javascript:void(0)" data-toggle="modal" data-target="#create-photo-album" class="btn btn-primary btn-md-2">ابحث</a>

          <form class="w-search">
            <div class="form-group with-button">
              <input class="form-control rtl-fixes" type="text" placeholder="البحث في المدونة ">
              <button>
                <svg class="olymp-magnifying-glass-icon">
                  <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <mat-tab-group class="rtl-dir-fixes rtl-fixes tab-g">

        <mat-tab label="أشخاص">

          <div fxLayout="row">

            <!-- FILTER -->
            <div class="filter p-2" fxFlex="28">
              <h4>فلتر</h4>
              <div fxLayout="column">

                <!-- name -->
                <div>
                  <div class="form-group label-floating">
                    <label class="control-label">اسم</label>
                    <input class="form-control" placeholder="" type="text" value="" autocomplete="off">
                    <span class="material-input"></span>
                  </div>
                </div>
                <!-- name -->

                <!-- department -->
                <div>
                  <div class="form-group label-floating">
                    <label class="control-label">القسم</label>
                    <input class="form-control" placeholder="" type="text" value="" autocomplete="off">
                    <span class="material-input"></span>
                  </div>
                </div>
                <!-- department -->

                <!-- department -->
                <div>
                  <div class="form-group label-floating">
                    <label class="control-label">مشاريع مرتبطة</label>
                    <input class="form-control" placeholder="" type="text" value="" autocomplete="off">
                    <span class="material-input"></span>
                  </div>
                </div>
                <!-- department -->


                <!-- department -->
                <div>
                  <div class="form-group label-floating">
                    <label class="control-label">المسار المهني</label>
                    <input class="form-control" placeholder="" type="text" value="" autocomplete="off">
                    <span class="material-input"></span>
                  </div>
                </div>
                <!-- department -->

                <!-- department -->
                <div>
                  <div class="form-group label-floating">
                    <label class="control-label">سنوات الخبرة</label>
                    <input class="form-control" placeholder="" type="text" value="" autocomplete="off">
                    <span class="material-input"></span>
                  </div>
                </div>
                <!-- department -->

                <!-- department -->
                <div>
                  <div class="form-group label-floating">
                    <label class="control-label">الفرع</label>
                    <input class="form-control" placeholder="" type="text" value="" autocomplete="off">
                    <span class="material-input"></span>
                  </div>
                </div>
                <!-- department -->

                <!-- department -->
                <div>
                  <div class="form-group label-floating">
                    <label class="control-label">المهارات</label>
                    <input class="form-control" placeholder="" type="text" value="" autocomplete="off">
                    <span class="material-input"></span>
                  </div>
                </div>
                <!-- department -->

              </div>
            </div>
            <!-- / FILTER -->

            <div class="splitter" fxFlex="2">
              <mat-icon>arrow_left</mat-icon>
            </div>

            <!-- SEARCH SECTION-->
            <div class="search-result" fxFlex="70">

              <!-- RESULT -->
              <div class="birthday-item inline-items">

                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar4-sm.jpg" alt="author">
                </div>

                <!-- DETAILS -->
                <div class="birthday-author-name">

                  <div fxLayout="row">
                    <a href="javascript:void(0)" class="h6 author-name">مارينا فالنتين </a>
                    <div fxLayout="row" class="pr-2">
                      <mat-icon class="location-icon">location_on</mat-icon>
                      <span>فرنسا</span>
                    </div>
                  </div>
                  <div fxLayout="row">
                    <div class="birthday-date">16 يناير 1989</div>
                    <div class="divier"></div>
                    <div class="birthday-date">مبرمج</div>
                    <div class="divier"></div>
                    <div class="birthday-date"> قسم المبيعات</div>
                    <div class="divier"></div>
                    <div class="birthday-date"> النقاط: 1204 </div>
                  </div>
                </div>
                <!-- DETAILS -->

                <div class="arrow">
                  <mat-icon class="">keyboard_arrow_left</mat-icon>
                </div>

              </div>
              <!-- / RESULT -->

              <!-- RESULT -->
              <div class="birthday-item inline-items">

                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar23-sm.jpg" alt="author">
                </div>

                <!-- DETAILS -->
                <div class="birthday-author-name">

                  <div fxLayout="row">
                    <a href="javascript:void(0)" class="h6 author-name">جيسيكا ستيفنز</a>
                    <div fxLayout="row" class="pr-2">
                      <mat-icon class="location-icon">location_on</mat-icon>
                      <span>امريكا</span>
                    </div>
                  </div>
                  <div fxLayout="row">
                    <div class="birthday-date">16 فبراير 19751975</div>
                    <div class="divier"></div>
                    <div class="birthday-date">مبرمج</div>
                    <div class="divier"></div>
                    <div class="birthday-date"> قسم المبيعات</div>
                    <div class="divier"></div>
                    <div class="birthday-date"> النقاط: 652 </div>
                  </div>
                </div>
                <!-- DETAILS -->

                <div class="arrow">
                  <mat-icon class="">keyboard_arrow_left</mat-icon>
                </div>

              </div>
              <!-- / RESULT -->

              <!-- RESULT -->
              <div class="birthday-item inline-items">

                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar31-sm.jpg" alt="author">
                </div>

                <!-- DETAILS -->
                <div class="birthday-author-name">

                  <div fxLayout="row">
                    <a href="javascript:void(0)" class="h6 author-name">جيسي أوينز</a>
                    <div fxLayout="row" class="pr-2">
                      <mat-icon class="location-icon">location_on</mat-icon>
                      <span>سويسرا</span>
                    </div>
                  </div>
                  <div fxLayout="row">
                    <div class="birthday-date">16 فيراير 19701970</div>
                    <div class="divier"></div>
                    <div class="birthday-date">مبرمج</div>
                    <div class="divier"></div>
                    <div class="birthday-date"> قسم المبيعات</div>
                    <div class="divier"></div>
                    <div class="birthday-date"> النقاط: 204204 </div>
                  </div>
                </div>
                <!-- DETAILS -->

                <div class="arrow">
                  <mat-icon class="">keyboard_arrow_left</mat-icon>
                </div>

              </div>
              <!-- / RESULT -->
            </div>
            <!-- / SEARCH SECTION-->


          </div>

        </mat-tab>


        <mat-tab label="مجموعات"> مجموعات </mat-tab>
        <mat-tab label="مشاريع"> مشاريع</mat-tab>
        <mat-tab label="مدونات"> مدونات </mat-tab>
        <mat-tab label="احداث"> احداث </mat-tab>
        <mat-tab label="مصادر خارجية"> مصادر خارجية </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
