<div class="fixed-sidebar right">

  <!-- UNFOLDED -->
  <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

    <a href="" class="logo">
      <div class="img-wrap">
        <img src="assets/web/img/logo_managem.png" alt="Olympus">
      </div>
    </a>

    <div class="mCustomScrollbar" data-mcs-theme="dark">
      <ul class="left-menu">
        <li>
          <a href="javascript:void(0)" class="js-sidebar-open">
            <svg class="olymp-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="افتح القائمة">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
            </svg>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/dashboard']">
            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="لوحة القيادة">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-newsfeed-icon"></use>
            </svg>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/profile']">
            <svg class="olymp-manage-widgets-icon left-menu-icon" data-toggle="tooltip"
              data-placement="right" data-original-title="منصتي">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-manage-widgets-icon"></use>
            </svg>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/projects']">
            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="المشاريع">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#project-diagram"></use>
            </svg>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/employee-month']">
            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="موظف الشهر">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
            </svg>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/meetings']">
            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="اجتماعات">
              <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-week-calendar-icon"></use>
            </svg>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/workflows']">
            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="حجوزات">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use>
            </svg>
          </a>
        </li>

        <li>
          <!-- ,'1','group' -->
          <a href="" [routerLink]="['/groups']">
            <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip"
              data-placement="right" data-original-title="المجموعات">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use>
            </svg>
          </a>
        </li>

        <li>
          <a href="18-MusicAndPlaylists.html">
            <svg class="olymp-happy-sticker-icon left-menu-icon" data-toggle="tooltip"
              data-placement="right" data-original-title="المدونات">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use>
            </svg>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/search']">
            <svg class="olymp-magnifying-glass-icon left-menu-icon" data-toggle="tooltip"
              data-placement="right" data-original-title="محرك البحث">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
            </svg>
          </a>
        </li>

        <li>
          <a href="19-WeatherWidget.html">
            <svg class="olymp-settings-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="الاعدادات">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- / UNFOLDED -->

  <!-- FOLDED -->
  <div class="fixed-sidebar-left sidebar--large sidebar-large-fix" id="sidebar-left-1">
    <a href="02-ProfilePage.html" class="logo">
      <div class="img-wrap">
        <img style="height: 40px;" src="assets/web/img/logo_managem.png" alt="Olympus">
      </div>
      <div class="title-block">
        <h6 class="logo-title">مناجم</h6>
      </div>
    </a>

    <div class="mCustomScrollbar" data-mcs-theme="dark">
      <ul class="left-menu">
        <li>
          <a href="javascript:void(0)" class="js-sidebar-open">
            <svg class="olymp-close-icon left-menu-icon">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-close-icon"></use>
            </svg>
            <span class="left-menu-title">طي القائمة</span>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/dashboard']">
            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="لوحة القيادة">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-newsfeed-icon"></use>
            </svg>
            <span class="left-menu-title">لوحة القيادة</span>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/profile']">
            <svg class="olymp-manage-widgets-icon left-menu-icon" data-toggle="tooltip"
              data-placement="right" data-original-title="منصتي">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-manage-widgets-icon"></use>
            </svg>
            <span class=" left-menu-title">منصتي</span>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/projects']">
            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="المشاريع">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#project-diagram"></use>
            </svg>
            <span class="left-menu-title">المشاريع</span>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/employee-month']">
            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="موظف الشهر">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
            </svg>
            <span class="left-menu-title">موظف الشهر</span>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/meetings']">
            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="اجتماعات">
              <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-week-calendar-icon"></use>
            </svg>
            <span class="left-menu-title">اجتماعات</span>
          </a>
        </li>



        <li>
          <a href="" [routerLink]="['/workflows']">
            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="حجوزات">
              <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use>
            </svg>
            <span class="left-menu-title">حجوزات</span>
          </a>
        </li>



        <li>
          <!-- ,'1','group' -->
          <a href="" [routerLink]="['/groups']">
            <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip"
              data-placement="right" data-original-title="المجموعات">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use>
            </svg>
            <span class="left-menu-title">المجموعات</span>
          </a>
        </li>
        <li>
          <a href="" [routerLink]="['/blogs']">
            <svg class="olymp-happy-sticker-icon left-menu-icon" data-toggle="tooltip"
              data-placement="right" data-original-title="المدونات">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use>
            </svg>
            <span class="left-menu-title">المدونات</span>
          </a>
        </li>

        <li>
          <a href="" [routerLink]="['/search']">
            <svg class="olymp-magnifying-glass-icon left-menu-icon" data-toggle="tooltip"
              data-placement="right" data-original-title="محرك البحث">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
            </svg>
            <span class="left-menu-title">محرك البحث</span>
          </a>
        </li>

        <li>
          <a href="19-WeatherWidget.html">
            <svg class="olymp-settings-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
              data-original-title="الاعدادات">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
            </svg>
            <span class="left-menu-title">الاعدادات</span>
          </a>
        </li>

      </ul>

      <div class="profile-completion">

        <div class="skills-item">
          <div class="skills-item-info">
            <span class="skills-item-title">Profile Completion</span>
            <span class="skills-item-count"><span class="count-animate" data-speed="1000"
                data-refresh-interval="50" data-to="76" data-from="0"></span><span
                class="units">76%</span></span>
          </div>
          <div class="skills-item-meter">
            <span class="skills-item-meter-active bg-primary" style="width: 76%"></span>
          </div>
        </div>

        <span>Complete <a href="javascript:void(0)">your profile</a> so people can know more about you!</span>

      </div>
    </div>
  </div>
  <!-- / FOLDED -->

</div>
