<div class="container p-0">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block responsive-flex1200">

        <div class="ui-block-title">
          <a href="javascript:void(0)" class="btn btn-primary btn-md-2 float-left">ابحث</a>

          <form class="w-search float-left m-0" fxLayout="row" style="justify-content: flex-end;">
            <div class="form-group with-button m-0">
              <input class="form-control rtl-fixes" style="min-width:250px;" type="text" placeholder="البحث ">
              <button>
                <svg class="olymp-magnifying-glass-icon">
                  <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
                </svg>
              </button>
            </div>
          </form>

          <div class="float-right" fxLayout="row">
            <a href="javascript:void(0)" [routerLink]="['/project-report']" class="btn btn-grey" fxLayout="row" fxLayoutAlign="center center">
              <span style="font-size: 14px;">اضف</span>
              <mat-icon style="margin-left: 5px;">add</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container p-0">
  <div class="row">

    <div class="col col-xl-12 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">النتائج المستخلصة</h6>
          <a href="javascript:void(0)" class="more"><svg class="olymp-three-dots-icon">
              <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg></a>
        </div>

        <!-- Notification List Frien Requests -->

        <ul class="notification-list friend-requests">

          <!-- ISSUE -->
          <li>
            <div class="" fxLayout="column">

              <div fxLayout="row" class="mb-2">
                <div class="name">معالجة الأحداث المتكررة في جانب الخادم </div>
                <div class="badge-success badge mr-2"> مهم جدا </div>
              </div>

              <div fxLayout="row">
                <div> 12/01/2019 </div>
                <div class="divier"> </div>
                <div> سارة سميث </div>
              </div>

            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>
              <svg class="olymp-little-delete">
                <use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use>
              </svg>
            </div>
          </li>
          <!-- / ISSUE -->

          <!-- ISSUE -->
          <li>
            <div class="" fxLayout="column">

              <div fxLayout="row" class="mb-2">
                <div class="name" >معالجة الأحداث المتكررة في جانب الخادم </div>
                <!-- <div class="badge-danger badge mr-2" style="color:white;"> عطل </div> -->
              </div>

              <div fxLayout="row">
                <div> 28/01/2019 </div>
                <div class="divier"> </div>
                <div> ساميسميث </div>
              </div>

            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>
              <svg class="olymp-little-delete">
                <use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use>
              </svg>
            </div>
          </li>
          <!-- / ISSUE -->

          <!-- ISSUE -->
          <li>
            <div class="" fxLayout="column">

              <div fxLayout="row" class="mb-2">
                <div class="name">كيف استخدم هذا البرنامج</div>
              </div>

              <div fxLayout="row">
                <div> 13/01/2019 </div>
                <div class="divier"> </div>
                <div> توني سميث </div>
              </div>

            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>
              <svg class="olymp-little-delete">
                <use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use>
              </svg>
            </div>
          </li>
          <!-- / ISSUE -->

        </ul>

        <!-- ... end Notification List Frien Requests -->
      </div>

    </div>



  </div>
</div>
