<header class="header" id="site-header">

  <div class="page-title">
    <h6>الصفحة الرئيسية</h6>
  </div>

  <div class="header-content-wrapper">
    <form class="search-bar w-search notification-list friend-requests">
      <div class="form-group with-button">
        <input class="form-control js-user-search" placeholder="ابحث هنا عن أشخاص أو صفحات ..." type="text">
        <button>
          <svg class="olymp-magnifying-glass-icon">
            <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
          </svg>
        </button>
      </div>
    </form>

    <a href="javascript:void(0)" class="link-find-friend">ابحث</a>

    <div class="control-block">

      <!-- FRIENDS -->
      <div class="control-icon more has-items">
        <svg class="olymp-happy-face-icon">
          <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
        </svg>
        <div class="label-avatar bg-blue">6</div>

        <div class="more-dropdown more-with-triangle triangle-top-center">
          <div class="ui-block-title ui-block-title-small">
            <h6 class="title">طلبات صداقة</h6>
            <a href="javascript:void(0)">البحث عن أصدقاء</a>
            <a href="javascript:void(0)">الإعدادات</a>
          </div>

          <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="notification-list friend-requests">
              <li>

                <div class="notification-event">
                  <a href="javascript:void(0)" class="h6 notification-friend">تمارا رومانوف</a>
                  <span class="chat-message-item">صديق مشترك: سارة هيتفيلد</span>
                </div>

                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar55-sm.jpg" alt="author">
                </div>

                <span class="notification-icon">
                  <a href="javascript:void(0)" class="accept-request">
                    <span class="icon-add without-text">
                      <svg class="olymp-happy-face-icon">
                        <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-face-icon">
                        </use>
                      </svg>
                    </span>
                  </a>

                  <a href="javascript:void(0)" class="accept-request request-del">
                    <span class="icon-minus">
                      <svg class="olymp-happy-face-icon">
                        <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-face-icon">
                        </use>
                      </svg>
                    </span>
                  </a>

                </span>

                <div class="more">
                  <svg class="olymp-three-dots-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </div>
              </li>

              <li>

                <div class="notification-event">
                  <a href="javascript:void(0)" class="h6 notification-friend">توني ستيفنز</a>
                  <span class="chat-message-item">4 أصدقاء مشترك</span>
                </div>

                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar56-sm.jpg" alt="author">
                </div>

                <span class="notification-icon">
                  <a href="javascript:void(0)" class="accept-request">
                    <span class="icon-add without-text">
                      <svg class="olymp-happy-face-icon">
                        <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-face-icon">
                        </use>
                      </svg>
                    </span>
                  </a>

                  <a href="javascript:void(0)" class="accept-request request-del">
                    <span class="icon-minus">
                      <svg class="olymp-happy-face-icon">
                        <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-face-icon">
                        </use>
                      </svg>
                    </span>
                  </a>

                </span>

                <div class="more">
                  <svg class="olymp-three-dots-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </div>
              </li>

              <li class="accepted">

                <div class="notification-event">
                  انت و <a href="javascript:void(0)" class="h6 notification-friend">ماري جين ستارك</a>فقط أصبح أصدقاء.
                </div>

                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar57-sm.jpg" alt="author">
                </div>

                <span class="notification-icon">
                  <svg class="olymp-happy-face-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                  </svg>
                </span>

                <div class="more">
                  <svg class="olymp-three-dots-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                  <svg class="olymp-little-delete">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                  </svg>
                </div>
              </li>

            </ul>
          </div>

          <a href="javascript:void(0)" class="view-all bg-blue">عرض كل الأحداث</a>
        </div>
      </div>
      <!-- / FRIENDS -->


      <!-- MESSAGES -->
      <div class="control-icon more has-items">
        <svg class="olymp-chat---messages-icon">
          <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
        </svg>
        <div class="label-avatar bg-purple">2</div>

        <div class="more-dropdown more-with-triangle triangle-top-center">
          <div class="ui-block-title ui-block-title-small">
            <h6 class="title">الدردشة / الرسائل </h6>
            <a href="javascript:void(0)">اشر عليها بانها قرات</a>
            <a href="javascript:void(0)">الإعدادات</a>
          </div>

          <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="notification-list chat-message">

              <li class="message-unread">
                <span class="notification-icon">
                  <svg class="olymp-chat---messages-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-chat---messages-icon">
                    </use>
                  </svg>
                </span>
                <div class="notification-event" style="padding-right: 10px;">
                  <a href="javascript:void(0)" class="h6 notification-friend">ديانا جيمسون </a>
                  <span class="chat-message-item">مرحبا يا جيمس! إنها ديانا ، أردت فقط أن أخبركم
                    أنه يتعين علينا إعادة جدولة ... </span>
                  <span class="notification-date"><time class="entry-date updated"
                      datetime="2004-07-24T18:18">منذ 4 ساعات</time></span>
                </div>
                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar59-sm.jpg" alt="author">
                </div>
                <div class="more">
                  <svg class="olymp-three-dots-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </div>
              </li>

              <li>
                <span class="notification-icon">
                  <svg class="olymp-chat---messages-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-chat---messages-icon">
                    </use>
                  </svg>
                </span>
                <div class="notification-event">
                  <a href="javascript:void(0)" class="h6 notification-friend">جيك باركر </a>
                  <span class="chat-message-item">عظيم ، سأراك غدا!</span>
                  <span class="notification-date"><time class="entry-date updated"
                      datetime="2004-07-24T18:18">منذ 4 ساعات</time></span>
                </div>
                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar60-sm.jpg" alt="author">
                </div>
                <div class="more">
                  <svg class="olymp-three-dots-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </div>
              </li>
              <li>
                <span class="notification-icon">
                  <svg class="olymp-chat---messages-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-chat---messages-icon">
                    </use>
                  </svg>
                </span>
                <div class="notification-event">
                  <a href="javascript:void(0)" class="h6 notification-friend">الين دريفوس</a>
                  <span class="chat-message-item">سيتعين علينا التحقق من ذلك في المكتب ومعرفة ما
                    إذا كان العميل على متن ...</span>
                  <span class="notification-date"><time class="entry-date updated"
                      datetime="2004-07-24T18:18">أمس الساعة 9:56 مساءً</time></span>
                </div>

                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar61-sm.jpg" alt="author">
                </div>
                <div class="more">
                  <svg class="olymp-three-dots-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </div>
              </li>

              <li class="chat-group">
                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar11-sm.jpg" alt="author">
                  <img src="{{imagesBaseUrl}}avatar12-sm.jpg" alt="author">
                  <img src="{{imagesBaseUrl}}avatar13-sm.jpg" alt="author">
                  <img src="{{imagesBaseUrl}}avatar10-sm.jpg" alt="author">
                </div>
                <div class="notification-event">
                  <a href="javascript:void(0)" class="h6 notification-friend">أنا, فادي, داليا &amp; Jet +3</a>
                  <span class="last-message-author">Ed:</span>
                  <span class="chat-message-item">بلى! يبدو بخير من قبلي!</span>
                  <span class="notification-date"><time class="entry-date updated"
                      datetime="2004-07-24T18:18">16 مارس في الساعة 10:23 </time></span>
                </div>
                <span class="notification-icon">
                  <svg class="olymp-chat---messages-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-chat---messages-icon">
                    </use>
                  </svg>
                </span>
                <div class="more">
                  <svg class="olymp-three-dots-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </div>
              </li>
            </ul>
          </div>

          <a href="javascript:void(0)" class="view-all bg-purple">عرض جميع الرسائل</a>
        </div>
      </div>
      <!-- / MESSAGES -->

      <div class="control-icon more has-items">
        <svg class="olymp-thunder-icon">
          <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-thunder-icon"></use>
        </svg>

        <div class="label-avatar bg-primary">8</div>

        <div class="more-dropdown more-with-triangle triangle-top-center">
          <div class="ui-block-title ui-block-title-small">
            <h6 class="title">إشعارات</h6>
            <a href="javascript:void(0)">اشر عليها بانها قرات</a>
            <a href="javascript:void(0)">الإعدادات</a>
          </div>

          <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="notification-list notifications-popup">
              <li>
                <div class="notification-event">
                  <div>
                    <a href="javascript:void(0)" class="h6 notification-friend fix-notification-name">ماتيلدا
                      برينكر</a>
                    <span>اضاف ملفات جديدة في مشروع</span>
                    <a href="javascript:void(0)" class="notification-link">برنامج ادارة المستشفيات</a>

                  </div>
                  <span class="notification-date"><time class="entry-date updated"
                      datetime="2004-07-24T18:18">منذ 4 ساعات</time></span>
                </div>
                <span class="notification-icon">
                  <i class="fa fa-project-diagram"></i>
                  <!-- <svg class="olymp-comments-post-icon"><use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg> -->
                </span>
                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar62-sm.jpg" alt="author">
                </div>

                <div class="more">
                  <svg class="olymp-little-delete">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                  </svg>
                  <svg class="olymp-three-dots-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </div>
              </li>

              <li class="un-read">
                <span class="notification-icon">
                  <svg class="olymp-happy-face-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                  </svg>
                </span>
                <div class="notification-event">
                  <div>
                    <a href="javascript:void(0)" class="h6 notification-friend fix-notification-name">نيكولاس
                      جريسوم</a>
                    <span> ارسل طلب</span>
                    <a href="javascript:void(0)" class="notification-link">مساعدة</a>
                  </div>
                  <span class="notification-date"><time class="entry-date updated"
                      datetime="2004-07-24T18:18">منذ 9 ساعات</time></span>
                </div>
                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar63-sm.jpg" alt="author">
                </div>

                <div class="more">
                  <svg class="olymp-little-delete">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                  </svg>
                  <svg class="olymp-three-dots-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </div>
              </li>

              <li class="with-comment-photo">

                <span class="notification-icon">
                  <svg class="olymp-comments-post-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-comments-post-icon">
                    </use>
                  </svg>
                </span>
                <div class="notification-event">
                  <div>
                    <a href="javascript:void(0)" class="h6 notification-friend fix-notification-name">سارة
                      هيتفيلد</a>
                    <span>اضافه تعليق على مشروع</span>
                    <a href="javascript:void(0)" class="notification-link">برنامج الادارة والتأهيل</a>
                  </div>
                  <span class="notification-date"><time class="entry-date updated"
                      datetime="2004-07-24T18:18">أمس في الساعة 5:32</time></span>
                </div>
                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar64-sm.jpg" alt="author">
                </div>
                <div class="comment-photo">
                  <img src="{{imagesBaseUrl}}comment-photo1.jpg" alt="photo">
                  <span>“She looks incredible in that outfit! We should see each...”</span>
                </div>

                <div class="more">
                  <svg class="olymp-little-delete">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                  </svg>
                  <svg class="olymp-three-dots-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </div>
              </li>

              <li>
                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar65-sm.jpg" alt="author">
                </div>
                <div class="notification-event">
                  <div>
                    <a href="javascript:void(0)" class="h6 notification-friend fix-notification-name">Green Goo
                      Rock</a>
                    invited you to attend to his event Goo in
                    <a href="javascript:void(0)" class="notification-link">
                      Gotham Bar</a>
                  </div>
                  <span class="notification-date"><time class="entry-date updated"
                      datetime="2004-07-24T18:18">March 5th at 6:43pm</time></span>
                </div>
                <span class="notification-icon">
                  <svg class="olymp-happy-face-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                  </svg>
                </span>

                <div class="more">
                  <svg class="olymp-little-delete">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                  </svg>
                  <svg class="olymp-three-dots-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </div>
              </li>

              <li>
                <div class="author-thumb">
                  <img src="{{imagesBaseUrl}}avatar66-sm.jpg" alt="author">
                </div>
                <div class="notification-event">
                  <div><a href="javascript:void(0)" class="h6 notification-friend">James Summers</a> commented on
                    your new <a href="javascript:void(0)" class="notification-link">profile status</a>.</div>
                  <span class="notification-date"><time class="entry-date updated"
                      datetime="2004-07-24T18:18">March 2nd at 8:29pm</time></span>
                </div>
                <span class="notification-icon">
                  <svg class="olymp-heart-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
                  </svg>
                </span>

                <div class="more">
                  <svg class="olymp-little-delete">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                  </svg>
                  <svg class="olymp-three-dots-icon">
                    <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                  </svg>
                </div>
              </li>
            </ul>
          </div>

          <a href="javascript:void(0)" class="view-all bg-primary">عرض جميع الإخطارات</a>
        </div>
      </div>

      <div class="author-page author vcard inline-items more">
        <div class="author-thumb">
          <!-- <img alt="author" src="{{imagesBaseUrl}}avatar68-sm.jpg" class="avatar"> -->
          <img alt="author" src="assets/web/img/Imad_toumi.jpg" class="avatar" style="width: 34px;  height: 34px;">
          <span class="icon-status online"></span>
          <div class="more-dropdown more-with-triangle">
            <div class="mCustomScrollbar" data-mcs-theme="dark">
              <div class="ui-block-title ui-block-title-small">
                <h6 class="title">حسابك</h6>
              </div>

              <ul class="account-settings">
                <li>
                  <a href="29-YourAccount-AccountSettings.html">
                    <span class="ml-2 mr-0">إعدادات الملف الشخصي</span>
                    <svg class="olymp-menu-icon ml-2 mr-0">
                      <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span>تسجيل خروج</span>
                    <svg class="olymp-logout-icon ml-2 mr-0">
                      <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-logout-icon"></use>
                    </svg>
                  </a>
                </li>
              </ul>

              <div class="ui-block-title ui-block-title-small">
                <h6 class="title">إعدادات المحادثة</h6>
              </div>

              <ul class="chat-settings">
                <li>
                  <a href="javascript:void(0)">
                    <span>متوفر</span>
                    <span class="icon-status online ml-2 mr-0"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span>مشغول</span>
                    <span class="icon-status away ml-2 mr-0"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span>غير متوفر</span>
                    <span class="icon-status disconected ml-2 mr-0"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span>غير مرئى</span>
                    <span class="icon-status status-invisible ml-2 mr-0"></span>
                  </a>
                </li>
              </ul>

              <div class="ui-block-title ui-block-title-small">
                <h6 class="title">الأحكام والشروط</h6>
              </div>

              <ul>
                <li>
                  <a href="javascript:void(0)" [routerLink]="['/terms']">
                    <span>الأحكام والشروط</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span>أسئلة وأجوبة</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" [routerLink]="['/jobs']">
                    <span>وظائف</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span>اتصل</span>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <a href="02-ProfilePage.html" class="author-name fn">
          <div class="author-title">
            عماد تومي
            <svg class="olymp-dropdown-arrow-icon">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use>
            </svg>
          </div>
          <span class="author-subtitle">رئيس مجلس الإدارة والرئيس التنفيذي</span>
        </a>
      </div>

    </div>
  </div>

</header>
