<div class="container">
  <div class="row">

    <!-- Main Content -->

    <div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
      <app-timeline-content></app-timeline-content>
    </div>

    <!-- / Main Content -->


    <!-- Left Sidebar -->
    <div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
      <app-left-side></app-left-side>
    </div>
    <!-- / Left Sidebar -->

    <!-- Right Sidebar -->
    <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
      <app-right-side></app-right-side>
      <!-- / Right Sidebar -->
    </div>


  </div>
</div>
