.icon-views {
  font-size: 35px;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.icons-container {
  display: flex;
  align-items: center;
}
.info {
  color: Dodgerblue;
  width: 26px;
  height: 26px;
  margin-right: 12px;
}

.pane {
  border-radius: 0;
  min-height: 206px;
  border-right: 2px solid #515365b5;
  height: 100%;
}

.pane-container {
  padding-right: 0;
  margin-right: -15px;
  border-radius: 0;
  padding-left: 0;
}
.view-list{
  height: 100%;
}
