<!-- ... end Main Header Groups -->
<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block responsive-flex">
        <div class="ui-block-title">
          <div class="h6 title text-left"></div>
          <form class="w-search">
            <div class="form-group with-button">
              <input class="form-control" type="text" placeholder="ابحث">
              <button>
                <svg class="olymp-magnifying-glass-icon">
                  <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">

      <div class="ui-block">


        <!-- Forums Table -->

        <table class="forums-table rtl-dir-fixes">

          <thead>

            <tr>

              <th class="forum">
                الملف
              </th>

              <th class="topics">
                اسم الملف
              </th>

              <th class="posts">
                نوع
              </th>

              <th class="freshness">
                تاريخ الانشاء
              </th>

              <th class="freshness">

              </th>

            </tr>

          </thead>

          <tbody>

            <tr>
              <td class="forum">
                <div class="forum-item">
                  <img src="{{imagesBaseUrl}}excel_logo.png" width="50" height="50" alt="forum">
                  <!-- <div class="content">
                    <a href="javascript:void(0)" class="h6 title">The Community</a>
                    <p class="text">Talk about dinner parties, reunions and more!</p>
                  </div> -->
                </div>
              </td>
              <td class="topics">
                <div class="h6 count">Project Management</div>
              </td>
              <td class="posts">
                <a class="h6 count">ملف اكسل</a>
              </td>
              <td class="freshness">
                <div class="author-freshness">
                  <!-- <div class="author-thumb">
                    <img src="{{imagesBaseUrl}}excel_logo.png" alt="author">
                  </div> -->
                  <!-- <a href="javascript:void(0)" class="h6 title">Elaine Dreyfuss</a> -->
                  <time class="entry-date updated" datetime="2017-06-24T18:18">منذ 16 ساعة ، 33 دقيقة</time>

                </div>
              </td>
              <td class="posts">
                <a class="h6 count">
                  <i class="fa fa-eye"></i>
                  <i class="fa fa-download"></i>
                </a>
              </td>
            </tr>

            <tr>
              <td class="forum">
                <div class="forum-item">
                  <img src="{{imagesBaseUrl}}image_icon.png" height="50" width="50" alt="forum">
                  <!-- <div class="content">
                    <a href="javascript:void(0)" class="h6 title">Video Shack</a>
                    <p class="text">All related to your favourite movies and tv shows!</p>
                  </div> -->
                </div>
              </td>
              <td class="topics">
                <a href="javascript:void(0)" class="h6 count">Demo</a>
              </td>
              <td class="posts">
                <a href="javascript:void(0)" class="h6 count">فيديو</a>
              </td>
              <td class="freshness">
                <div class="author-freshness">
                  <!-- <div class="author-thumb">
                    <img src="{{imagesBaseUrl}}avatar51-sm.jpg" alt="author">
                  </div>
                  <a href="javascript:void(0)" class="h6 title">Nicholas Grissom</a> -->
                  <time class="entry-date updated" datetime="2017-06-24T18:18">منذ 3 ساعة ، 21 دقيقة</time>
                </div>
              </td>
              <td class="posts">
                <a class="h6 count">
                  <i class="fa fa-eye"></i>
                  <i class="fa fa-download"></i>
                </a>
              </td>
            </tr>


          </tbody>
        </table>

        <!-- ... end Forums Table -->
      </div>

    </div>

    <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">جزء المعاينة</h6>
        </div>
        <div class="ui-block-content">

          <img src="https://picsum.photos/id/1059/300/200">

          <!-- Widget Featured Topics -->



          <!-- ... end Widget Featured Topics -->
        </div>
      </div>


    </div>
  </div>
</div>
