.fa-download{
  font-size: 22px;
}
.fa-eye{
  font-size: 20px;
  margin-left: 15px;
}

.forums-table td {
  padding: 15px 10px;
}

.ui-block-content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
