.name {
  font-size: 14px;
  font-weight: 700;
  color: #515365;
  cursor: pointer;
}

.badge {
  color: #515365;
  font-size: 11px;
  padding: 0.25rem !important;
}

.divier {
  margin-left: 7px;
  margin-right: 7px;
  width: 1px;
  background-color: #ddd;
}

.notification-list li {
  padding: 15px;
}
