<section class="pt-4">
	<div class="container">
		<div class="row">

			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				<!-- Help Support Block -->

				<div class="help-support-block">
					<h3 class="title">نظرة عامة<a href="" class="total-topic">12</a></h3>
					<ul class="help-support-list">
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">إنشاء حساب أوليمبوس الخاص بك</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">كيف يمكنني نشر الوسائط على حسابي؟</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">دعوة الأصدقاء للانضمام إلى أوليمبوس</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">كيف يمكنني البحث عن أصدقائي؟</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">إنشاء وإدارة مجموعات الأصدقاء</a>
						</li>
					</ul>
				</div>

				<!-- ... end Help Support Block -->

			</div>

			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				<!-- Help Support Block -->

				<div class="help-support-block">
					<h3 class="title">الإعدادات العامة<a href="" class="total-topic">31</a></h3>
					<ul class="help-support-list">
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">إنشاء حساب أوليمبوس الخاص بك</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">كيف يمكنني نشر الوسائط على حسابي؟</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">دعوة الأصدقاء للانضمام إلى أوليمبوس</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">كيف يمكنني البحث عن أصدقائي؟</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">إنشاء وإدارة مجموعات الأصدقاء</a>
						</li>
					</ul>
				</div>

				<!-- ... end Help Support Block -->

			</div>

			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				<!-- Help Support Block -->

				<div class="help-support-block">
					<h3 class="title">قاعدة البيانات<a href="" class="total-topic">17</a></h3>
					<ul class="help-support-list">
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">إنشاء حساب أوليمبوس الخاص بك</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">كيف يمكنني نشر الوسائط على حسابي؟</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">دعوة الأصدقاء للانضمام إلى أوليمبوس</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">كيف يمكنني البحث عن أصدقائي؟</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">إنشاء وإدارة مجموعات الأصدقاء</a>
						</li>
					</ul>
				</div>

				<!-- ... end Help Support Block -->

			</div>

			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				<!-- Help Support Block -->

				<div class="help-support-block">
					<h3 class="title">المسائل الفنية<a href="" class="total-topic">14</a></h3>
					<ul class="help-support-list">
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">إنشاء حساب أوليمبوس الخاص بك</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">كيف يمكنني نشر الوسائط على حسابي؟</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">دعوة الأصدقاء للانضمام إلى أوليمبوس</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">كيف يمكنني البحث عن أصدقائي؟</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">إنشاء وإدارة مجموعات الأصدقاء</a>
						</li>
					</ul>
				</div>

				<!-- ... end Help Support Block -->

			</div>

			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				<!-- Help Support Block -->

				<div class="help-support-block">
					<h3 class="title">تقرير المبادئ التوجيهية<a href="" class="total-topic">14</a></h3>
					<ul class="help-support-list">
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">إنشاء حساب أوليمبوس الخاص بك</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">كيف يمكنني نشر الوسائط على حسابي؟</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">دعوة الأصدقاء للانضمام إلى أوليمبوس</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">كيف يمكنني البحث عن أصدقائي؟</a>
						</li>
						<li>
							<svg class="olymp-blog-icon">
								<use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-blog-icon"></use>
							</svg>
							<a href="javascript:void(0)">إنشاء وإدارة مجموعات الأصدقاء</a>
						</li>
					</ul>
				</div>

				<!-- ... end Help Support Block -->

			</div>

		</div>
	</div>
</section>
