<div class="container p-0">
  <div class="row">

    <!-- Creativity -->
    <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-content">
          <ul class="statistics-list-count">
            <li fxLayout="row" fxLayoutAlign="space-between start">
              <div>
                <div class="points">
                  <span>
                    ابداعات
                  </span>
                </div>
                <div class="count-stat">450
                  <span class="indicator positive"> + 20.00</span>
                </div>
              </div>
              <i class="fa fa-lightbulb" style="font-size: 36px;"></i>

            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Creativity -->

    <!-- POINTS -->
    <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-content">
          <ul class="statistics-list-count">
            <li fxLayout="row" fxLayoutAlign="space-between start">
              <div>
                <div class="points">
                  <span>
                    النقاط
                  </span>
                </div>
                <div class="count-stat">4
                  <span class="indicator negative"> - 10</span>
                </div>
              </div>
              <i class="fa fa-balance-scale" style="font-size: 36px;"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- POINTS -->

    <!-- VISITORS -->
    <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-content">
          <ul class="statistics-list-count">
            <li fxLayout="row" fxLayoutAlign="space-between start">
              <div>
                <div class="points">
                  <span>
                    زوار صفحتي
                  </span>
                </div>
                <div class="count-stat">500
                  <span class="indicator positive"> + 32</span>
                </div>
              </div>
              <i class="fa fa-bullhorn" style="font-size: 36px;"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- / VISITORS -->

    <!-- FOLLOWERS -->
    <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-content">
          <ul class="statistics-list-count">
            <li fxLayout="row" fxLayoutAlign="space-between start">
              <div>
                <div class="points">
                  <span>
                    الاجازات
                  </span>
                </div>
                <div class="count-stat">11
                  <span class="indicator positive"> </span>
                </div>
              </div>
              <i class="fa fa-umbrella-beach" style="font-size: 36px;"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- FOLLOWERS -->

  </div>

  <div class="row">

    <!-- LIKES -->
    <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-content">
          <ul class="statistics-list-count">
            <li fxLayout="row" fxLayoutAlign="space-between start">
              <div>
                <div class="points">
                  <span>
                    الاعجابات
                  </span>
                </div>
                <div class="count-stat">4,500
                  <span class="indicator positive"> + 4.207</span>
                </div>
              </div>
              <i class="fa fa-thumbs-up" style="font-size: 36px;"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- LIKES -->

    <!-- SEARCHED FOR ME  -->
    <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-content">
          <ul class="statistics-list-count">
            <li fxLayout="row" fxLayoutAlign="space-between start">
              <div>
                <div class="points">
                  <span>
                    بحث عني
                  </span>
                </div>
                <div class="count-stat">10
                  <span class="indicator negative"> - 10</span>
                </div>
              </div>
              <i class="fa fa-street-view" style="font-size: 36px;"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- SEARCHED FOR ME  -->

    <!-- COLLABORATIONS -->
    <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-content">
          <ul class="statistics-list-count">
            <li fxLayout="row" fxLayoutAlign="space-between start">
              <div>
                <div class="points">
                  <span>
                    المشاركات
                  </span>
                </div>
                <div class="count-stat">16
                  <span class="indicator positive"> + 55</span>
                </div>
              </div>
              <i class="fa fa-comment-dots" style="font-size: 36px;"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- COLLABORATIONS -->

    <!-- FOLLOWERS -->
    <div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-content">
          <ul class="statistics-list-count">
            <li fxLayout="row" fxLayoutAlign="space-between start">
              <div>
                <div class="points">
                  <span>
                    المتابعين
                  </span>
                </div>
                <div class="count-stat">1300
                  <span class="indicator positive"> + 10</span>
                </div>
              </div>
              <i class="fa fa-user-friends" style="font-size: 36px;"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- FOLLOWERS -->

  </div>

</div>

<div class="container p-0">

  <div class="row">
    <div class="col col-lg-12 col-sm-12 col-12">
      <div class="ui-block responsive-flex">
        <div class="ui-block-title">
          <div class="h6 title">مشاهدات الصفحة</div>
          <select class="selectpicker form-control without-border">
            <option value="LY">الشهر الماضي </option>
            <option value="CUR">العام الماضي </option>
          </select>
          <a href="javascript:void(0)" class="more"><svg class="olymp-three-dots-icon">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg></a>
        </div>

        <div class="ui-block-content">
          <div class="chart-js chart-js-one-bar">
            <canvas id="one-bar-chart" width="1400" height="380"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">

      <div class="ui-block responsive-flex" data-mh="pie-chart">

        <div class="ui-block-title">
          <div class="h6 title">مؤشر استخدام المنصة</div>

          <select class="selectpicker form-control without-border">
            <option value="CUR">آخر 3 أشهر</option>
            <option value="LY">العام الماضي</option>
          </select>

          <div class="points align-right">

            <span>
              <span class="statistics-point bg-yellow"></span>
              هذه الشهر
            </span>

            <span>
              <span class="statistics-point bg-primary"></span>
              الشهر الماضي
            </span>

          </div>

          <a href="javascript:void(0)" class="more"><svg class="olymp-three-dots-icon">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg></a>

        </div>

        <div class="ui-block-content">
          <div class="chart-js chart-js-line-graphic">
            <canvas id="line-graphic-chart" width="730" height="300"></canvas>
          </div>
        </div>

      </div>
    </div>

    <!-- FILES STATS -->
    <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
      <div class="ui-block" data-mh="pie-chart">
        <div class="ui-block-title">
          <div class="h6 title">نسب التفاعل  مع التصويت</div>

          <div style="float: left;">
            <select class="selectpicker form-control without-border scroll-space">
              <option value="CUR">التصويت على تحسين نظام المراسلة</option>
              <option value="LY">التصويت على اداء الاداري الجديد</option>
            </select>
          </div>

          <!-- <a href="javascript:void(0)" class="more"><svg class="olymp-three-dots-icon">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg></a> -->
        </div>
        <div class="ui-block-content" style="min-height: 380px;">
          <div class="chart-with-statistic">

            <div class="chart-js chart-js-pie-color">
              <canvas id="pie-color-chart" width="180" height="180"></canvas>
              <div class="general-statistics">300
                <span>المجموع </span>
              </div>
            </div>

            <ul class="statistics-list-count">
              <li>
                <div class="points">
                  <span>
                    <span class="statistics-point bg-purple"></span>
                    صوتوا مباشرة
                  </span>
                </div>
                <div class="count-stat">150</div>
              </li>
              <li>
                <div class="points">
                  <span>
                    <span class="statistics-point bg-breez"></span>
                    صوتوا خلال ساعة
                  </span>
                </div>
                <div class="count-stat">50</div>
              </li>
              <li>
                <div class="points">
                  <span>
                    <span class="statistics-point bg-primary"></span>
                    لم يصوتوا
                  </span>
                </div>
                <div class="count-stat">50</div>
              </li>
              <li>
                <div class="points" style="width: 100px;">
                  <span>
                    <span class="statistics-point bg-yellow"></span>
                    لم يروا التصويت
                  </span>
                </div>
                <div class="count-stat">50</div>
              </li>
            </ul>

          </div>
        </div>

      </div>
    </div>
    <!-- / FILES STATS -->

  </div>


  <div class="row">

    <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">

      <div class="ui-block responsive-flex" data-mh="pie-chart">

        <div class="ui-block-title">
          <div class="h6 title">نسب المشاركة بالتصويت</div>

          <div style="float: left;">
            <select class="selectpicker form-control without-border scroll-space">
              <option value="CUR">التصويت على تحسين نظام المراسلة</option>
              <option value="LY">التصويت على اداء الاداري الجديد</option>
            </select>
          </div>

        </div>

        <div class="ui-block-content" style="direction: ltr;">
          <div class="chart-js chart-js-line-graphic pf-chart">
            <ngx-charts-advanced-pie-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="single"
              label="مجموع المصوتين"
              [gradient]="gradient"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)">
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>

      </div>
    </div>

    <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
      <div class="ui-block" data-mh="pie-chart">
        <div class="ui-block-title">
          <div class="h6 title">منضمين حديثاً</div>
          <a href="javascript:void(0)" class="more"><svg class="olymp-three-dots-icon">
              <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg></a>
        </div>

        <div class="ui-block-content pt-0" style="min-height: 366px;">
          <ul class="widget w-friend-pages-added notification-list friend-requests">

            <li class="inline-items pr-1">
              <div class="author-thumb">
                <img src="{{imagesBaseUrl}}avatar72-sm.jpg" alt="author">
              </div>
              <div class="notification-event">
                <a href="javascript:void(0)" class="h6 notification-friend">فرانسين سميث</a>
              </div>
            </li>

            <li class="inline-items pr-1">
              <div class="author-thumb">
                <img src="{{imagesBaseUrl}}avatar69-sm.jpg" alt="author">
              </div>
              <div class="notification-event">
                <a href="javascript:void(0)" class="h6 notification-friend">ديف مارينارا</a>
              </div>
            </li>

            <li class="inline-items pr-1">
              <div class="author-thumb">
                <img src="{{imagesBaseUrl}}avatar78-sm.jpg" alt="author">
              </div>
              <div class="notification-event">
                <a href="javascript:void(0)" class="h6 notification-friend">سيلفا مارينارا</a>
              </div>
            </li>

            <li class="inline-items pr-1">
              <div class="author-thumb">
                <img src="{{imagesBaseUrl}}avatar70-sm.jpg" alt="author">
              </div>
              <div class="notification-event">
                <a href="javascript:void(0)" class="h6 notification-friend">دارين مارينارا</a>
              </div>
            </li>

            <!-- <li class="inline-items">
              <div class="author-thumb">
                <img src="img/avatar39-sm.jpg" alt="author">
              </div>
              <div class="notification-event">
                <a href="javascript:void(0)" class="h6 notification-friend">Hugh Wilson</a>
                <span class="chat-message-item">6 Friends in Common</span>
              </div>
              <span class="notification-icon">
                <a href="javascript:void(0)" class="accept-request">
                  <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon">
                      <use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                    </svg>
                  </span>
                </a>
              </span>
            </li>

            <li class="inline-items">
              <div class="author-thumb">
                <img src="img/avatar40-sm.jpg" alt="author">
              </div>
              <div class="notification-event">
                <a href="javascript:void(0)" class="h6 notification-friend">Karen Masters</a>
                <span class="chat-message-item">6 Friends in Common</span>
              </div>
              <span class="notification-icon">
                <a href="javascript:void(0)" class="accept-request">
                  <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon">
                      <use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                    </svg>
                  </span>
                </a>
              </span>
            </li> -->

          </ul>
        </div>

      </div>
    </div>


  </div>

</div>
