.carousel-inner {
  h5 {
    color: white;
  }
}

.carousel-text-container {
  background: #00000080;
  width: 100%;
  border-radius: 7px;
  padding: 10px 14px 3px 3px;
  text-align: right;

  p {
    font-size: 12px;
  }
}

.image-item {
  width: 88%;
}

.image-item{
  width: 100%;
  height: 300px;
}
