<!-- Tab panes -->
<div class="tab-content" style="margin: 0px -15px;">
  <div class="tab-pane active" id="events" role="tabpanel">

    <div class="container">
      <div class="row">

        <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="ui-block">

            <div class="control-block-button add-ev">
              <a href="javascript:void(0)" class="btn btn-control bg-breez" data-toggle="modal" data-target="#create-event">
                <svg class="olymp-plus-icon">
                  <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
                </svg>
              </a>
            </div>

            <!-- Full Calendar -->

            <div id="calendar" class="crumina-full-calendar">

            </div>

            <!-- ... end Full Calendar -->
          </div>
        </div>

        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="ui-block">


            <!-- Today Events -->

            <div class="today-events calendar">
              <div class="today-events-thumb">
                <div class="date">
                  <div class="day-number">26</div>
                  <div class="day-week">السبت</div>
                  <div class="month-year">مارس, 2016</div>
                </div>
              </div>

              <div class="list">
                <div class="control-block-button">
                  <a href="javascript:void(0)" class="btn btn-control bg-breez" data-toggle="modal" data-target="#create-event">
                    <svg class="olymp-plus-icon">
                      <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
                    </svg>
                  </a>
                </div>

                <div class="day-event" id="accordion-1" data-month="12" data-day="2">

                  <div class="card">
                    <div class="card-header" id="headingOne-1">

                      <div class="event-time">
                        <time datetime="2004-07-24T18:18">9:00 صباحا</time>
                      </div>

                      <h5 class="mb-0 title">
                        <a href="javascript:void(0)" data-toggle="collapse" data-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne">
                          قاعة 403
                          <span class="event-status-icon" data-toggle="modal" data-target="#public-event">
                            <i class="fa fa-users" style="color: #38a9ff;"></i>
                          </span>
                        </a>
                      </h5>
                    </div>

                    <div id="#collapseOne-1" class="collapse show" aria-labelledby="headingOne" data-parent="#headingOne-1">
                      <!-- <div class="card-body">

                      </div> -->
                      <div class="place inline-items">
                        <svg class="olymp-add-a-place-icon mr-0 ml-2">
                          <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use>
                        </svg>
                        <span>1187 Corniche El Nile St., Cairo </span>
                      </div>

                      <ul class="friends-harmonic inline-items text">
                        <li>
                          <a href="javascript:void(0)">
                            <img src="assets/web/img/friend-harmonic11.jpg" alt="friend">
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <img src="assets/web/img/friend-harmonic10.jpg" alt="friend">
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <img src="assets/web/img/friend-harmonic7.jpg" alt="friend">
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <img src="assets/web/img/friend-harmonic8.jpg" alt="friend">
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <img src="assets/web/img/friend-harmonic2.jpg" alt="friend">
                          </a>
                        </li>
                        <li class="with-text mr-4">
                          المدعوين
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingOne-1">

                      <div class="event-time">
                        <time datetime="2004-07-24T18:18">12:00 صباحا</time>
                      </div>

                      <h5 class="mb-0 title">
                        <a href="javascript:void(0)" data-toggle="collapse" data-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne">
                          قاعة 402
                          <span class="event-status-icon" data-toggle="modal" data-target="#public-event">
                            <i class="fa fa-users" style="color: #38a9ff;"></i>
                          </span>
                        </a>
                      </h5>
                    </div>

                    <div id="#collapseOne-1" class="collapse show" aria-labelledby="headingOne" data-parent="#headingOne-1">
                      <!-- <div class="card-body">

                      </div> -->
                      <div class="place inline-items">
                        <svg class="olymp-add-a-place-icon mr-0 ml-2">
                          <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use>
                        </svg>
                        <span>1187 Corniche El Nile St., Cairo </span>
                      </div>

                      <ul class="friends-harmonic inline-items text">
                        <li>
                          <a href="javascript:void(0)">
                            <img src="assets/web/img/friend-harmonic11.jpg" alt="friend">
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <img src="assets/web/img/friend-harmonic12.jpg" alt="friend">
                          </a>
                        </li>
                        <li class="with-text mr-4">
                          المدعوين
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>

              </div>
            </div>

            <!-- ... end Today Events -->
          </div>
        </div>

      </div>
    </div>
  </div>


</div>




<!-- Window-popup Create Event -->

<div class="modal fade" id="create-event" tabindex="-1" role="dialog" aria-labelledby="create-event" aria-hidden="true">
  <div class="modal-dialog window-popup create-event" role="document">
    <div class="modal-content">
      <a href="javascript:void(0)" class="close icon-close" data-dismiss="modal" aria-label="Close">
        <svg class="olymp-close-icon">`
          <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
        </svg>
      </a>
      <div class="modal-header">
        <h6 class="title">انشاء حدث</h6>
      </div>

      <div class="modal-body">
        <div class="form-group label-floating is-select">
          <label class="control-label">حدث خاص</label>
          <select class="selectpicker form-control">
            <option value="MA">حدث خاص</option>
            <option value="FE">حدث عام</option>
          </select>
        </div>

        <div class="form-group label-floating">
          <label class="control-label">اسم الحدث</label>
          <input class="form-control" placeholder="" value="تقييم الاداء الاداري" type="text">
        </div>

        <div class="form-group label-floating is-select">
          <label class="control-label">القاعة</label>
          <select class="selectpicker form-control">
            <option value="MA">غرفة 308</option>
            <option value="FE">غرفة 301</option>
            <option value="FE">غرفة 302</option>
            <option value="FE">قاعة 403 </option>
            <option value="FE">قاعة 406 </option>
          </select>
        </div>


        <div class="form-group date-time-picker label-floating">
          <label class="control-label">تاريخ الحدث</label>
          <input name="datetimepicker" value="26/03/2016">
          <span class="input-group-addon">
            <svg class="olymp-calendar-icon icon">
              <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
            </svg>
          </span>
        </div>

        <div class="row">
          <div class="col col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="form-group label-floating">
              <label class="control-label">وقت الحدث</label>
              <input class="form-control" placeholder="" value="09:00" type="text">
            </div>
          </div>
          <div class="col col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="form-group label-floating is-select">
              <label class="control-label">ًصباحا-مساءاً</label>
              <select class="selectpicker form-control">
                <option value="MA">ًصباحا</option>
                <option value="FE">مساءاً</option>
              </select>
            </div>
          </div>
          <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group label-floating is-select">
              <label class="control-label">وحدة زمنية</label>
              <select class="selectpicker form-control">
                <option value="MA">بتوقيت غرينيتش</option>
              </select>
            </div>
          </div>

        </div>

        <div class="form-group">
          <textarea class="form-control" placeholder="وصف الحدث">
 ورشة تحسين و متابعة الالية الادارية و ذلك بناءً على الاحصاءات الرقمية و الشكوى الواردة
          </textarea>
        </div>

        <form class="form-group label-floating is-select">
          <svg class="olymp-happy-face-icon">
            <use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
          </svg>

          <select class="selectpicker form-control style-2 show-tick" multiple data-live-search="true">
            <option title="Green Goo Rock" data-content='<div class="inline-items">
										<div class="author-thumb">
											<img src="assets/web/img/avatar52-sm.jpg" alt="author">
										</div>
											<div class="h6 author-title">سامي ديوان</div>

										</div>'>
            </option>

            <option title="Mathilda Brinker" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img src="assets/web/img/avatar74-sm.jpg" alt="author">
											</div>
											<div class="h6 author-title">شادي حامد</div>
										</div>'>
            </option>

            <option title="Marina Valentine" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img src="assets/web/img/avatar48-sm.jpg" alt="author">
											</div>
											<div class="h6 author-title">ساره ساهر</div>
										</div>'>
            </option>

            <option title="Dave Marinara" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img src="assets/web/img/avatar75-sm.jpg" alt="author">
											</div>
											<div class="h6 author-title">سحر</div>
										</div>'>
            </option>

            <option title="Rachel Howlett" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img src="assets/web/img/avatar76-sm.jpg" alt="author">
											</div>
											<div class="h6 author-title">ادم راضي</div>
										</div>'>
            </option>

          </select>
        </form>

        <button data-toggle="modal" data-target="#create-event" class="btn btn-breez btn-lg full-width">حفظ</button>

      </div>
    </div>
  </div>
</div>

<!-- ... end Window-popup Create Event -->



<!-- Window-popup Event Public -->

<div class="modal fade" id="public-event2" tabindex="-1" role="dialog" aria-labelledby="public-event2" aria-hidden="true">
	<div class="modal-dialog window-popup event-private-public public-event" role="document">
		<div class="modal-content">
			<a href="javascript:void(0)" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>
			<div class="modal-body">
				<article class="hentry post has-post-thumbnail thumb-full-width private-event">

					<div class="private-event-head inline-items">
						<img src="assets/web/img/avatar77-sm.jpg" alt="author">

						<div class="author-date">
							<a class="h3 event-title" href="javascript:void(0)">Green Goo in Gotham</a>
							<div class="event__date">
								<time class="published" datetime="2017-03-24T18:18">
									Saturday at 9:00am
								</time>
							</div>
						</div>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
							</svg>
							<ul class="more-dropdown">
								<li>
									<a href="javascript:void(0)">Edit Event Settings</a>
								</li>
								<li>
									<a href="javascript:void(0)">Mark as Completed</a>
								</li>
								<li>
									<a href="javascript:void(0)">Delete Event</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="post-thumb">
						<img src="assets/web/img/event-public.jpg" alt="photo">
					</div>

					<div class="row">
						<div class="col col-lg-7 col-md-7 col-sm-12 col-12">
							<div class="post__author author vcard inline-items">
								<img src="assets/web/img/avatar5-sm.jpg" alt="author">

								<div class="author-date">
									<a class="h6 post__author-name fn" href="javascript:void(0)">Green Goo Rock</a> created the
									<a href="javascript:void(0)">Event</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											March 11 at 9:52pm
										</time>
									</div>
								</div>

							</div>

							<p>
								We’ll be playing in the Gotham Bar in May. Come and have a great time with us! Entry: $12
							</p>
						</div>
						<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
							<div class="event-description">
								<h6 class="event-description-title">Public Event</h6>
								<div class="place inline-items">
									<svg class="olymp-add-a-place-icon">
										<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use>
									</svg>
									<span>Gotham Bar</span>
								</div>

								<div class="place inline-items">
									<svg class="olymp-add-a-place-icon">
										<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use>
									</svg>
									<span>Mar 26, 2016 at 9:00am UTC-8</span>
								</div>

								<ul class="friends-harmonic">
									<li>
										<a href="javascript:void(0)">
											<img src="assets/web/img/friend-harmonic5.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<img src="assets/web/img/friend-harmonic10.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<img src="assets/web/img/friend-harmonic7.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<img src="assets/web/img/friend-harmonic8.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="javascript:void(0)">
											<img src="assets/web/img/friend-harmonic2.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="javascript:void(0)" class="all-users bg-breez">+24</a>
									</li>

									<li class="with-text">
										Will Assist
									</li>
								</ul>

								<a href="javascript:void(0)" class="btn btn-blue btn-sm full-width">Invite Friends</a>

								<a href="javascript:void(0)" class="btn btn-breez btn-sm full-width">Add to Calendar / Assist</a>
							</div>
						</div>
					</div>


					<div class="post-additional-info inline-items">

						<a href="javascript:void(0)" class="post-add-icon inline-items">
							<svg class="olymp-heart-icon">
								<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
							</svg>
							<span>8</span>
						</a>

						<ul class="friends-harmonic">
							<li>
								<a href="javascript:void(0)">
									<img src="assets/web/img/friend-harmonic1.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="assets/web/img/friend-harmonic9.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="assets/web/img/friend-harmonic7.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="assets/web/img/friend-harmonic4.jpg" alt="friend">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="assets/web/img/friend-harmonic8.jpg" alt="friend">
								</a>
							</li>
						</ul>

						<div class="names-people-likes">
							<a href="javascript:void(0)">Diana </a>, <a href="javascript:void(0)">Nicholas</a> and
							<br>15 more liked this
						</div>


						<div class="comments-shared">
							<a href="javascript:void(0)" class="post-add-icon inline-items">
								<svg class="olymp-speech-balloon-icon">
									<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
								</svg>
								<span>16 Comments</span>
							</a>
						</div>


					</div>

					<div class="control-block-button post-control-button">

						<a href="javascript:void(0)" class="btn btn-control">
							<svg class="olymp-like-post-icon">
								<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
							</svg>
						</a>

						<a href="javascript:void(0)" class="btn btn-control">
							<svg class="olymp-comments-post-icon">
								<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
							</svg>
						</a>

						<a href="javascript:void(0)" class="btn btn-control">
							<svg class="olymp-share-icon">
								<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-share-icon"></use>
							</svg>
						</a>

					</div>

				</article>

				<div class="mCustomScrollbar" data-mcs-theme="dark">

					<ul class="comments-list">
						<li class="comment-item">
							<div class="post__author author vcard inline-items">
								<img src="assets/web/img/author-page.jpg" alt="author">

								<div class="author-date">
									<a class="h6 post__author-name fn" href="02-ProfilePage.html">James Spiegel</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											38 mins ago
										</time>
									</div>
								</div>

								<a href="javascript:void(0)" class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
									</svg>
								</a>

							</div>

							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

							<a href="javascript:void(0)" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
								</svg>
								<span>3</span>
							</a>
							<a href="javascript:void(0)" class="reply">Reply</a>
						</li>
						<li class="comment-item">
							<div class="post__author author vcard inline-items">
								<img src="assets/web/img/avatar1-sm.jpg" alt="author">

								<div class="author-date">
									<a class="h6 post__author-name fn" href="javascript:void(0)">Mathilda Brinker</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											1 hour ago
										</time>
									</div>
								</div>

								<a href="javascript:void(0)" class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
									</svg>
								</a>

							</div>

							<p>Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, quinder dolorem ipsum
								quia dolor sit amet, consectetur adipisci velit en lorem ipsum duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
							</p>

							<a href="javascript:void(0)" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
								</svg>
								<span>8</span>
							</a>
							<a href="javascript:void(0)" class="reply">Reply</a>
						</li>
						<li class="comment-item">
							<div class="post__author author vcard inline-items">
								<img src="assets/web/img/avatar10-sm.jpg" alt="author">

								<div class="author-date">
									<a class="h6 post__author-name fn" href="javascript:void(0)">Elaine Dreyfuss</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											5 mins ago
										</time>
									</div>
								</div>

								<a href="javascript:void(0)" class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
									</svg>
								</a>

							</div>

							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

							<a href="javascript:void(0)" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
								</svg>
								<span>8</span>
							</a>
							<a href="javascript:void(0)" class="reply">Reply</a>
						</li>
					</ul>

				</div>

				<form class="comment-form inline-items">

					<div class="post__author author vcard inline-items">
						<img src="assets/web/img/author-page.jpg" alt="author">

						<div class="form-group with-icon-right">
							<textarea class="form-control" placeholder=""></textarea>
							<div class="add-options-message">
								<a href="javascript:void(0)" class="options-message">
									<svg class="olymp-camera-icon">
										<use xlink:href="assets/web/svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

<!-- ... end Window-popup Event Public -->
