<div class="container  p-0">
  <div class="row">

    <!-- Main Content -->

    <div class="col col-xl-8 order-xl-1 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12 p-0">
      <app-middle-content></app-middle-content>
    </div>

    <!-- / Main Content -->


    <!-- Left Sidebar -->
    <div class="col col-xl-4 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12 pl-0">
      <app-left-side-content></app-left-side-content>
    </div>
    <!-- / Left Sidebar -->

    <!-- Right Sidebar -->
    <div class="col col-xl-4 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12  p-0">
      <!-- <app-right-side-content></app-right-side-content> -->
      <!-- / Right Sidebar -->
    </div>


  </div>
</div>
