<table class="forums-table rtl-dir-fixes">

  <thead>

    <tr>

      <th class="forum">
        الملف
      </th>

      <th class="topics">
        اسم الملف
      </th>

      <th class="posts">
        نوع
      </th>

      <th class="freshness">
        تاريخ الانشاء
      </th>

      <th class="freshness">

      </th>

    </tr>

  </thead>

  <tbody>

    <tr>
      <td class="forum">
        <div class="forum-item">
          <img src="{{imagesBaseUrl}}excel_logo.png" width="25" height="25" alt="forum">
          <!-- <div class="content">
              <a href="javascript:void(0)" class="h6 title">The Community</a>
              <p class="text">Talk about dinner parties, reunions and more!</p>
            </div> -->
        </div>
      </td>
      <td class="topics">
        <div class="h6 count">Project Management</div>
      </td>
      <td class="posts">
        <a class="h6 count">ملف اكسل</a>
      </td>
      <td class="freshness">
        <div class="author-freshness">
          <!-- <div class="author-thumb">
              <img src="{{imagesBaseUrl}}excel_logo.png" alt="author">
            </div> -->
          <!-- <a href="javascript:void(0)" class="h6 title">Elaine Dreyfuss</a> -->
          <time class="entry-date updated" datetime="2017-06-24T18:18">منذ 16 ساعة</time>

        </div>
      </td>
      <td class="posts">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>

        </div>
      </td>
    </tr>

    <tr>
      <td class="forum">
        <div class="forum-item">
          <img src="{{imagesBaseUrl}}image_icon.png" height="25" width="25" alt="forum">
          <!-- <div class="content">
              <a href="javascript:void(0)" class="h6 title">Video Shack</a>
              <p class="text">All related to your favourite movies and tv shows!</p>
            </div> -->
        </div>
      </td>
      <td class="topics">
        <a href="javascript:void(0)" class="h6 count">Demo</a>
      </td>
      <td class="posts">
        <a class="h6 count">فيديو</a>
      </td>
      <td class="freshness">
        <div class="author-freshness">
          <!-- <div class="author-thumb">
              <img src="{{imagesBaseUrl}}avatar51-sm.jpg" alt="author">
            </div>
            <a href="javascript:void(0)" class="h6 title">Nicholas Grissom</a> -->
          <time class="entry-date updated" datetime="2017-06-24T18:18">منذ 3 ساعة </time>
        </div>
      </td>
      <td class="posts">


        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="rate">
            <input type="radio" id="star15" name="rate11" value="5" />
            <label for="star15" title="text">5 stars</label>
            <input type="radio" id="star14" name="rate11" value="4" />
            <label for="star14" title="text">4 stars</label>
            <input type="radio" id="star13" name="rate11" value="3" />
            <label for="star13" title="text">3 stars</label>
            <input type="radio" id="star12" name="rate11" value="2" />
            <label for="star12" title="text">2 stars</label>
            <input type="radio" id="star11" name="rate11" value="1" />
            <label for="star11" title="text">1 star</label>
          </div>
        </div>
      </td>
    </tr>

  </tbody>
</table>
