<div class="row">

  <!-- DESCRIPTON OF PROJECT -->
  <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">

    <div class="ui-block ">
      <div class="ui-block-title rtl-dir-fixes rtl-fixes">
        <h6 class="title">مقدمة</h6>
        <a href="javascript:void(0)" class="more p-0"><svg class="olymp-three-dots-icon p-0">
            <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
          </svg></a>
      </div>
      <div class="ui-block-content" style="min-height: 182px;">
        <div fxLayout="column">

          <!-- DES -->
          <div>
            هناك العديد من الاختلافات في المقاطع المتاحة ، لكن الغالبية عانت من التغيير في , هناك العديد من الاختلافات في المقاطع المتاحة ، لكن الغالبية عانت من التغيير في , هناك العديد من الاختلافات في المقاطع المتاحة ، لكن الغالبية عانت من التغيير في شكل ما شكل ما شكل ما
          </div>
          <!-- / DES -->
        </div>
      </div>
    </div>
  </div>
  <!-- DESCRIPTON OF PROJECT -->

  <!-- DETAILS -->
  <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">

    <div class="ui-block ">
      <div class="ui-block-title rtl-dir-fixes rtl-fixes">
        <h6 class="title">تفاصيل</h6>
        <a href="javascript:void(0)" class="more p-0"><svg class="olymp-three-dots-icon p-0">
            <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
          </svg></a>
      </div>
      <div class="ui-block-content details">
        <div fxLayout="column">

          <!-- DES -->
          <div class="detail">
            <span class="card-label"> التكلفة </span>
            <span>200,000 $</span>
          </div>
          <!-- / DES -->

          <!-- DES -->
          <div class="detail">
            <span class="card-label"> ساعات العمل </span>
            <span>100 ساعة</span>
          </div>
          <!-- / DES -->

          <!-- DES -->
          <div class="detail">
            <span class="card-label"> تاريخ الانشاء</span>
            <span>12-11-2022</span>
          </div>
          <!-- / DES -->

          <!-- DES -->
          <div class="detail">
            <span class="card-label"> الموعد النهائي </span>
            <span>12-11-2022</span>
          </div>
          <!-- / DES -->

        </div>
      </div>
    </div>
  </div>
  <!-- DETAILS -->

  <!-- DOCS -->
  <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">

    <div class="ui-block ">
      <div class="ui-block-title rtl-dir-fixes rtl-fixes">
        <h6 class="title">المدير</h6>
        <a href="javascript:void(0)" class="more p-0"><svg class="olymp-three-dots-icon p-0">
            <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
          </svg>
        </a>
      </div>
      <div class="ui-block-content details" style="min-height: 122px;">
        <div class="ui-block-title rtl-dir-fixes rtl-fixes p-0">

          <!-- RESULT -->
          <div class="birthday-item inline-items p-0">

            <div class="author-thumb">
              <img src="{{imagesBaseUrl}}avatar23-sm.jpg" alt="author">
            </div>

            <!-- DETAILS -->
            <div class="birthday-author-name">

              <div fxLayout="column" class="pr-3">
                <a href="javascript:void(0)" class="h6 author-name">جيسيكا ستيفنز</a>
                <div fxLayout="row">
                  <div class="birthday-date"> قسم المبيعات</div>
                </div>
              </div>
              <!-- DETAILS -->

            </div>
            <!-- / RESULT -->

          </div>
        </div>
      </div>
    </div>
    <!-- DOCS -->
  </div>
  <!-- DOCS -->

  <!-- DOCS -->
  <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">

    <div class="ui-block ">
      <div class="ui-block-title rtl-dir-fixes rtl-fixes">
        <h6 class="title">أحدث الملفات</h6>
        <a href="javascript:void(0)" class="more p-0"><svg class="olymp-three-dots-icon p-0">
            <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
          </svg>
        </a>
      </div>
      <div class="ui-block-content details">
        <div class="ui-block-title rtl-dir-fixes rtl-fixes p-0">
          <div class="image-container">
            <ul class="widget w-last-photo js-zoom-gallery js-zoom-gallery-fixed">
              <li>
                <a href="assets/web/img/last-photo10.jpg">
                  <img src="{{imagesBaseUrl}}last-photo10.jpg" alt="photo">
                </a>
              </li>
              <li>
                <a href="assets/web/img/last-phot11.jpg">
                  <img src="{{imagesBaseUrl}}last-phot11.jpg" alt="photo">
                </a>
              </li>
              <li>
                <a href="assets/web/img/last-phot12.jpg">
                  <img src="{{imagesBaseUrl}}last-phot12.jpg" alt="photo">
                </a>
              </li>

              <li>
                <div class="upload-item" data-toggle="modal" data-target="#update-header-photo">
                  <i class="fa fa-camera"></i>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- DOCS -->

  <!-- DOCS -->
  <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">

    <div class="ui-block ">
      <div class="ui-block-title rtl-dir-fixes rtl-fixes">
        <h6 class="title">الفريق</h6>
        <a href="javascript:void(0)" class="more p-0"><svg class="olymp-three-dots-icon p-0">
            <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
          </svg>
        </a>
      </div>

      <!-- PERSON -->
      <div class="ui-block-content details p-2">
        <div class="ui-block-title rtl-dir-fixes rtl-fixes p-0">

          <!-- RESULT -->
          <div class="birthday-item inline-items p-0">

            <div class="author-thumb">
              <img src="{{imagesBaseUrl}}avatar23-sm.jpg" alt="author">
            </div>

            <!-- DETAILS -->
            <div class="birthday-author-name">

              <div fxLayout="column" class="pr-3">
                <a href="javascript:void(0)" class="h6 author-name">سارة هيتفيلد</a>
                <div fxLayout="row">
                  <div class="birthday-date"> قسم المبيعات</div>
                </div>
              </div>
              <!-- DETAILS -->

            </div>
            <!-- / RESULT -->

          </div>
        </div>
      </div>
      <!-- PERSON -->

      <!-- PERSON -->
      <div class="ui-block-content details p-2">
        <div class="ui-block-title rtl-dir-fixes rtl-fixes p-0">

          <!-- RESULT -->
          <div class="birthday-item inline-items p-0">

            <div class="author-thumb">
              <img src="{{imagesBaseUrl}}avatar31-sm.jpg" alt="author">
            </div>

            <!-- DETAILS -->
            <div class="birthday-author-name">

              <div fxLayout="column" class="pr-3">
                <a href="javascript:void(0)" class="h6 author-name">هيو ويلسون</a>
                <div fxLayout="row">
                  <div class="birthday-date"> قسم المبيعات</div>
                </div>
              </div>

            </div>
            <!-- / RESULT -->

          </div>
          <!-- RESULT -->

        </div>
      </div>
      <!-- PERSON -->

      <!-- PERSON -->
      <div class="ui-block-content details p-2">
        <div class="ui-block-title rtl-dir-fixes rtl-fixes p-0">

          <!-- RESULT -->
          <div class="birthday-item inline-items p-0">

            <div class="author-thumb">
              <img src="{{imagesBaseUrl}}avatar19-sm.jpg" alt="author">
            </div>

            <!-- DETAILS -->
            <div class="birthday-author-name">

              <div fxLayout="column" class="pr-3">
                <a href="javascript:void(0)" class="h6 author-name">جيسيكا ستيفنز</a>
                <div fxLayout="row">
                  <div class="birthday-date"> قسم المبيعات</div>
                </div>
              </div>
              <!-- DETAILS -->

            </div>
            <!-- / RESULT -->

          </div>
        </div>
      </div>
      <!-- PERSON -->

    </div>
    <!-- DOCS -->
  </div>
  <!-- DOCS -->

</div>
