.ui-block {
  margin-top: -55px;
  margin-right: -5px;
  border: unset;
}

.friend-header-thumb {
  border-radius: 0;
}

.friend-item {
  border-radius: 0;
}

.title {
  font-size: 17px;
  color: #5b8bc1;
}

.video-player .video-content .title {
  font-size: 42px;
  text-shadow: 2px 1px 1px #e2d2e4;
}
