<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

      <div class="rtl-fixes rtl-dir-fixes breadcrumb">
        <strong>
          المشاريع
        </strong>
        /
        <span>
          قائمة المشاريع
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block responsive-flex1200">

        <div class="ui-block-title">
          <a href="javascript:void(0)" class="btn btn-primary btn-md-2 float-left">ابحث</a>

          <form class="w-search float-left m-0" fxLayout="row">
            <div class="form-group with-button m-0">
              <input class="form-control rtl-fixes" style="min-width:250px;" type="text" placeholder="البحث في المشاريع ">
              <button>
                <svg class="olymp-magnifying-glass-icon">
                  <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
                </svg>
              </button>
            </div>

            <div class="">
              <mat-icon class="icon-views">apps</mat-icon>
              <mat-icon class="icon-views">subject</mat-icon>
            </div>
          </form>

          <div class="float-right" fxLayout="row">
            <a href="javascript:void(0)" [routerLink]="['/project-new']" class="btn btn-grey" fxLayout="row" fxLayoutAlign="center center">
              <span style="font-size: 14px;">تقرير</span>
              <mat-icon style="margin-left: 5px;">pie_chart</mat-icon>
            </a>
            <a href="javascript:void(0)" [routerLink]="['/project-report']" class="btn btn-grey" fxLayout="row" fxLayoutAlign="center center">
              <span style="font-size: 14px;">مشروع جديد</span>
              <mat-icon style="margin-left: 5px;">add</mat-icon>
            </a>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 rtl-dir-fixes">

      <div class="row">

        <!-- PROJECT -->
        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="ui-block ">
            <div class="ui-block-title rtl-dir-fixes rtl-fixes">
              <h6 class="title" [routerLink]="['/projects/1/details']">نظام إدارة المستشفيات</h6>
              <a href="javascript:void(0)" class="more p-0"><svg class="olymp-three-dots-icon p-0">
                  <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                </svg></a>
            </div>
            <div class="ui-block-content">
              <div fxLayout="column">

                <!-- DES -->
                <div>
                  هناك العديد من الاختلافات في المقاطع المتاحة ، لكن الغالبية عانت من التغيير في شكل ما
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> الحالة </span>
                  <span>12-11-2019</span>
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> تاريخ الإنشاء </span>
                  <span>12-11-2019</span>
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> الموعد النهائي</span>
                  <span>12-11-2022</span>
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> المدير </span>
                  <span>
                    <ul class="friends-harmonic">
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic7.jpg" alt="friend">
                        </a>
                      </li>
                    </ul>
                  </span>
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> الفريق </span>
                  <span>
                    <ul class="friends-harmonic">
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic7.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic8.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic9.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic10.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic11.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic12.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic13.jpg" alt="friend">
                        </a>
                      </li>
                    </ul>
                  </span>
                </div>
                <!-- / DES -->


              </div>
            </div>
          </div>
        </div>
        <!-- PROJECT -->

        <!-- PROJECT -->
        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="ui-block ">
            <div class="ui-block-title rtl-dir-fixes rtl-fixes">
              <h6 class="title" [routerLink]="['/projects/1/details']">نظام تاهيل الموظفين</h6>
              <a href="javascript:void(0)" class="more p-0"><svg class="olymp-three-dots-icon p-0">
                  <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                </svg></a>
            </div>
            <div class="ui-block-content">
              <div fxLayout="column">

                <!-- DES -->
                <div>
                  هناك العديد من الاختلافات في المقاطع المتاحة ، لكن الغالبية عانت من التغيير في شكل ما
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> الحالة </span>
                  <span>12-11-2019</span>
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> تاريخ الإنشاء </span>
                  <span>12-11-2019</span>
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> الموعد النهائي</span>
                  <span>12-11-2022</span>
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> المدير </span>
                  <span>
                    <ul class="friends-harmonic">
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic11.jpg" alt="friend">
                        </a>
                      </li>
                    </ul>
                  </span>
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> الفريق </span>
                  <span>
                    <ul class="friends-harmonic">
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic9.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic10.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic11.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic12.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic13.jpg" alt="friend">
                        </a>
                      </li>
                    </ul>
                  </span>
                </div>
                <!-- / DES -->


              </div>
            </div>
          </div>
        </div>
        <!-- PROJECT -->

        <!-- PROJECT -->
        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="ui-block ">
            <div class="ui-block-title rtl-dir-fixes rtl-fixes">
              <h6 class="title" [routerLink]="['/projects/1/details']">نظام إدارة الموارد</h6>
              <a href="javascript:void(0)" class="more p-0"><svg class="olymp-three-dots-icon p-0">
                  <use attr.xlink:href="{{svgUrl}}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                </svg></a>
            </div>
            <div class="ui-block-content">
              <div fxLayout="column">

                <!-- DES -->
                <div>
                  هناك العديد من الاختلافات في المقاطع المتاحة ، لكن الغالبية عانت من التغيير في شكل ما
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> الحالة </span>
                  <span>12-11-2019</span>
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> تاريخ الإنشاء </span>
                  <span>12-11-2019</span>
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> الموعد النهائي</span>
                  <span>12-11-2022</span>
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> المدير </span>
                  <span>
                    <ul class="friends-harmonic">
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic7.jpg" alt="friend">
                        </a>
                      </li>
                    </ul>
                  </span>
                </div>
                <!-- / DES -->

                <!-- DES -->
                <div class="detail">
                  <span class="card-label"> الفريق </span>
                  <span>
                    <ul class="friends-harmonic">
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic7.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic10.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic11.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic9.jpg" alt="friend">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <img src="{{imagesBaseUrl}}friend-harmonic12.jpg" alt="friend">
                        </a>
                      </li>
                    </ul>
                  </span>
                </div>
                <!-- / DES -->


              </div>
            </div>
          </div>
        </div>
        <!-- PROJECT -->

      </div>

    </div>
  </div>
</div>
